spec/schema/FIX44Bloomberg/QuoteResponse.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuoteResponse">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="QuoteRespID" type="xs:string"/>
        <xs:element name="QuoteID" minOccurs="0" type="xs:string"/>
        <xs:element name="QuoteRespType">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="W"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IOIid" minOccurs="0" type="xs:string"/>
        <xs:element name="QuoteType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoQuoteQualifiers" minOccurs="0" type="NoQuoteQualifiers"/>
        <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
        <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
        <xs:element name="Symbol" minOccurs="0" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="WI"/>
              <xs:enumeration value="CD"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="0"/>
              <xs:enumeration value="101"/>
              <xs:enumeration value="102"/>
              <xs:enumeration value="103"/>
              <xs:enumeration value="104"/>
              <xs:enumeration value="105"/>
              <xs:enumeration value="106"/>
              <xs:enumeration value="107"/>
              <xs:enumeration value="108"/>
              <xs:enumeration value="109"/>
              <xs:enumeration value="110"/>
              <xs:enumeration value="111"/>
              <xs:enumeration value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
              <xs:enumeration value="13"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FixedIncomeFlag" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FixedIncomeSubFlag" minOccurs="0" type="xs:integer"/>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EUSUPRA"/>
              <xs:enumeration value="FAC"/>
              <xs:enumeration value="FADN"/>
              <xs:enumeration value="PEF"/>
              <xs:enumeration value="SUPRA"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="EUCORP"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="EUSOV"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="TNOTE"/>
              <xs:enumeration value="TBILL"/>
              <xs:enumeration value="REPO"/>
              <xs:enumeration value="FORWARD"/>
              <xs:enumeration value="BUYSELL"/>
              <xs:enumeration value="SECLOAN"/>
              <xs:enumeration value="SECPLEDGE"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DN"/>
              <xs:enumeration value="EUCD"/>
              <xs:enumeration value="EUCP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="YCD"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="PFAND"/>
              <xs:enumeration value="TBA"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="PutOrCall" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="Factor" minOccurs="0" type="xs:float"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="StrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Pool" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="CPProgram" minOccurs="0" type="xs:integer"/>
        <xs:element name="CPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="NoEvents" minOccurs="0" type="NoEvents"/>
        <xs:element name="AssumedCoupon" minOccurs="0" type="xs:float"/>
        <xs:element name="PrepaymentSpeed" minOccurs="0" type="xs:string"/>
        <xs:element name="DatedDate" minOccurs="0" type="xs:string"/>
        <xs:element name="InterestAccrualDate" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementID" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementDate" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="TerminationType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StartDate" minOccurs="0" type="xs:string"/>
        <xs:element name="EndDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DeliveryType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MarginRatio" minOccurs="0" type="xs:float"/>
        <xs:element name="NoUnderlyings" minOccurs="0" type="NoUnderlyings"/>
        <xs:element name="Side" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="RoundingDirection" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlDate" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlDate2" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderQty2" minOccurs="0" type="xs:float"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="NoStipulations" minOccurs="0" type="NoStipulations"/>
        <xs:element name="Account" minOccurs="0" type="xs:string"/>
        <xs:element name="AcctIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AccountType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="BidPx" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferPx" minOccurs="0" type="xs:float"/>
        <xs:element name="MktBidPx" minOccurs="0" type="xs:float"/>
        <xs:element name="MktOfferPx" minOccurs="0" type="xs:float"/>
        <xs:element name="MinBidSize" minOccurs="0" type="xs:float"/>
        <xs:element name="BidSize" minOccurs="0" type="xs:float"/>
        <xs:element name="MinOfferSize" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferSize" minOccurs="0" type="xs:float"/>
        <xs:element name="ValidUntilTime" minOccurs="0" type="xs:string"/>
        <xs:element name="BidSpotRate" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferSpotRate" minOccurs="0" type="xs:float"/>
        <xs:element name="BidForwardPoints" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferForwardPoints" minOccurs="0" type="xs:float"/>
        <xs:element name="MidPx" minOccurs="0" type="xs:float"/>
        <xs:element name="BidYield" minOccurs="0" type="xs:float"/>
        <xs:element name="MidYield" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferYield" minOccurs="0" type="xs:float"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="OrdType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="P"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BidForwardPoints2" minOccurs="0" type="xs:float"/>
        <xs:element name="OfferForwardPoints2" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrBidFxRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrOfferFxRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrFxRateCalc" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="M"/>
              <xs:enumeration value="D"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Commission" minOccurs="0" type="xs:float"/>
        <xs:element name="CommType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CustOrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExDestination" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="Price" minOccurs="0" type="xs:float"/>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Spread" minOccurs="0" type="xs:float"/>
        <xs:element name="BenchmarkCurveCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkCurveName" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MuniAAA"/>
              <xs:enumeration value="FutureSWAP"/>
              <xs:enumeration value="LIBID"/>
              <xs:enumeration value="LIBOR"/>
              <xs:enumeration value="OTHER"/>
              <xs:enumeration value="SWAP"/>
              <xs:enumeration value="Treasury"/>
              <xs:enumeration value="Euribor"/>
              <xs:enumeration value="Pfandbriefe"/>
              <xs:enumeration value="EONIA"/>
              <xs:enumeration value="SONIA"/>
              <xs:enumeration value="EUREPO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BenchmarkCurvePoint" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="BenchmarkPriceType" minOccurs="0" type="xs:integer"/>
        <xs:element name="BenchmarkSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="AFTERTAX"/>
              <xs:enumeration value="ANNUAL"/>
              <xs:enumeration value="ATISSUE"/>
              <xs:enumeration value="AVGMATURITY"/>
              <xs:enumeration value="BOOK"/>
              <xs:enumeration value="CALL"/>
              <xs:enumeration value="CHANGE"/>
              <xs:enumeration value="CLOSE"/>
              <xs:enumeration value="COMPOUND"/>
              <xs:enumeration value="CURRENT"/>
              <xs:enumeration value="GROSS"/>
              <xs:enumeration value="GOVTEQUIV"/>
              <xs:enumeration value="INFLATION"/>
              <xs:enumeration value="INVERSEFLOATER"/>
              <xs:enumeration value="LASTCLOSE"/>
              <xs:enumeration value="LASTMONTH"/>
              <xs:enumeration value="LASTQUARTER"/>
              <xs:enumeration value="LASTYEAR"/>
              <xs:enumeration value="LONGAVGLIFE"/>
              <xs:enumeration value="MARK"/>
              <xs:enumeration value="MATURITY"/>
              <xs:enumeration value="NEXTREFUND"/>
              <xs:enumeration value="OPENAVG"/>
              <xs:enumeration value="PUT"/>
              <xs:enumeration value="PREVCLOSE"/>
              <xs:enumeration value="PROCEEDS"/>
              <xs:enumeration value="SEMIANNUAL"/>
              <xs:enumeration value="SHORTAVGLIFE"/>
              <xs:enumeration value="SIMPLE"/>
              <xs:enumeration value="TAXEQUIV"/>
              <xs:enumeration value="TENDER"/>
              <xs:enumeration value="TRUE"/>
              <xs:enumeration value="VALUE1_32"/>
              <xs:enumeration value="WORST"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Yield" minOccurs="0" type="xs:float"/>
        <xs:element name="YieldCalcDate" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldRedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldRedemptionPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="YieldRedemptionPriceType" minOccurs="0" type="xs:integer"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoQuoteQualifiers">
    <xs:sequence>
      <xs:element name="QuoteQualifier" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="QuoteQualifier" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence>
      <xs:element name="PartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartyIDSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="I"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartyRole" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="20"/>
                  <xs:enumeration value="21"/>
                  <xs:enumeration value="22"/>
                  <xs:enumeration value="24"/>
                  <xs:enumeration value="25"/>
                  <xs:enumeration value="26"/>
                  <xs:enumeration value="27"/>
                  <xs:enumeration value="28"/>
                  <xs:enumeration value="29"/>
                  <xs:enumeration value="30"/>
                  <xs:enumeration value="31"/>
                  <xs:enumeration value="32"/>
                  <xs:enumeration value="33"/>
                  <xs:enumeration value="34"/>
                  <xs:enumeration value="35"/>
                  <xs:enumeration value="36"/>
                  <xs:enumeration value="37"/>
                  <xs:enumeration value="38"/>
                  <xs:enumeration value="100"/>
                  <xs:enumeration value="101"/>
                  <xs:enumeration value="104"/>
                  <xs:enumeration value="105"/>
                  <xs:enumeration value="107"/>
                  <xs:enumeration value="109"/>
                  <xs:enumeration value="111"/>
                  <xs:enumeration value="114"/>
                  <xs:enumeration value="114"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoPartySubIDs" minOccurs="0" type="NoPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartySubIDs">
    <xs:sequence>
      <xs:element name="PartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoEvents">
    <xs:sequence>
      <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EventType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="99"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="EventDate" minOccurs="0" type="xs:string"/>
            <xs:element name="EventPx" minOccurs="0" type="xs:float"/>
            <xs:element name="EventText" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyings">
    <xs:sequence>
      <xs:element name="Underlying" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoUnderlyingSecurityAltID" minOccurs="0" type="NoUnderlyingSecurityAltID"/>
            <xs:element name="UnderlyingProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingPutOrCall" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="UnderlyingCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingRepurchaseRate" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingFactor" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStrikePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingContractMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingCouponRate" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedUnderlyingIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedUnderlyingIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedUnderlyingSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedUnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCPProgram" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCPRegType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingQty" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingPx" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingDirtyPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingEndPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingStartValue" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingCurrentValue" minOccurs="0" type="xs:float"/>
            <xs:element name="UnderlyingEndValue" minOccurs="0" type="xs:float"/>
            <xs:element name="NoUnderlyingStips" minOccurs="0" type="NoUnderlyingStips"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingSecurityAltID">
    <xs:sequence>
      <xs:element name="UnderlyingSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingStips">
    <xs:sequence>
      <xs:element name="UnderlyingStip" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingStipType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStipValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoStipulations">
    <xs:sequence>
      <xs:element name="Stipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StipulationType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="AMT"/>
                  <xs:enumeration value="AUTOREINV"/>
                  <xs:enumeration value="BANKQUAL"/>
                  <xs:enumeration value="BGNCON"/>
                  <xs:enumeration value="COUPON"/>
                  <xs:enumeration value="CURRENCY"/>
                  <xs:enumeration value="CUSTOMDATE"/>
                  <xs:enumeration value="GEOG"/>
                  <xs:enumeration value="HAIRCUT"/>
                  <xs:enumeration value="INSURED"/>
                  <xs:enumeration value="ISSUE"/>
                  <xs:enumeration value="ISSUER"/>
                  <xs:enumeration value="ISSUESIZE"/>
                  <xs:enumeration value="LOOKBACK"/>
                  <xs:enumeration value="LOT"/>
                  <xs:enumeration value="LOTVAR"/>
                  <xs:enumeration value="MAT"/>
                  <xs:enumeration value="MATURITY"/>
                  <xs:enumeration value="MAXSUBS"/>
                  <xs:enumeration value="MINQTY"/>
                  <xs:enumeration value="MININCR"/>
                  <xs:enumeration value="MINDNOM"/>
                  <xs:enumeration value="PAYFREQ"/>
                  <xs:enumeration value="PIECES"/>
                  <xs:enumeration value="PMAX"/>
                  <xs:enumeration value="PPM"/>
                  <xs:enumeration value="PPL"/>
                  <xs:enumeration value="PPT"/>
                  <xs:enumeration value="PRICE"/>
                  <xs:enumeration value="PRICEFREQ"/>
                  <xs:enumeration value="PROD"/>
                  <xs:enumeration value="PROTECT"/>
                  <xs:enumeration value="PURPOSE"/>
                  <xs:enumeration value="PXSOURCE"/>
                  <xs:enumeration value="RATING"/>
                  <xs:enumeration value="RESTRICTED"/>
                  <xs:enumeration value="SECTOR"/>
                  <xs:enumeration value="SECTYPE"/>
                  <xs:enumeration value="STRUCT"/>
                  <xs:enumeration value="SUBSFREQ"/>
                  <xs:enumeration value="SUBSLEFT"/>
                  <xs:enumeration value="TEXT"/>
                  <xs:enumeration value="TRDVAR"/>
                  <xs:enumeration value="WAC"/>
                  <xs:enumeration value="WAL"/>
                  <xs:enumeration value="WALA"/>
                  <xs:enumeration value="WAM"/>
                  <xs:enumeration value="WHOLE"/>
                  <xs:enumeration value="YIELD"/>
                  <xs:enumeration value="SMM"/>
                  <xs:enumeration value="CPR"/>
                  <xs:enumeration value="CPY"/>
                  <xs:enumeration value="CPP"/>
                  <xs:enumeration value="ABS"/>
                  <xs:enumeration value="MPR"/>
                  <xs:enumeration value="PSA"/>
                  <xs:enumeration value="PPC"/>
                  <xs:enumeration value="MHP"/>
                  <xs:enumeration value="HEP"/>
                  <xs:enumeration value="SHORT_COVER_FLAG"/>
                  <xs:enumeration value="BB_RETAIL_FEED_FLAG"/>
                  <xs:enumeration value="BB_GENERATE_TRADE_FEED"/>
                  <xs:enumeration value="IPO_TRADE"/>
                  <xs:enumeration value="SELL_ALL_FLAG"/>
                  <xs:enumeration value="NET_ASSET_VALUE_FLAG"/>
                  <xs:enumeration value="ADD_DEDUCT_COSTS"/>
                  <xs:enumeration value="TRANSACTION_CODE"/>
                  <xs:enumeration value="CFD_FLAG"/>
                  <xs:enumeration value="BB_CMF_HEALTH_CHECK"/>
                  <xs:enumeration value="RECAP_TRADE"/>
                  <xs:enumeration value="CORP_ACTION"/>
                  <xs:enumeration value="ATS_INFO"/>
                  <xs:enumeration value="ReofferIndicator"/>
                  <xs:enumeration value="SWAP_DESK_ID"/>
                  <xs:enumeration value="SWAPWIRE_ID"/>
                  <xs:enumeration value="MASTER_ACCOUNT"/>
                  <xs:enumeration value="HAS_MTGE_STIP"/>
                  <xs:enumeration value="MTGE_STIP_WAC"/>
                  <xs:enumeration value="MTGE_STIP_WAM"/>
                  <xs:enumeration value="MTGE_STIP_WALA"/>
                  <xs:enumeration value="MTGE_STIP_WAL"/>
                  <xs:enumeration value="MTGE_STIP_AOLS"/>
                  <xs:enumeration value="MTGE_STIP_WAOLTV"/>
                  <xs:enumeration value="MTGE_STIP_PROD_YEAR"/>
                  <xs:enumeration value="MTGE_STIP_NEW_PROD"/>
                  <xs:enumeration value="MTGE_STIP_CREDIT_SCORE"/>
                  <xs:enumeration value="MTGE_STIP_NUM_POOLS"/>
                  <xs:enumeration value="MTGE_STIP_NUM_UNIQ_POOLS"/>
                  <xs:enumeration value="MTGE_STIP_POOLS_PER_ACCOUNT"/>
                  <xs:enumeration value="MTGE_STIP_ORIG_FACE"/>
                  <xs:enumeration value="MTGE_STIP_CURR_FACE"/>
                  <xs:enumeration value="MTGE_STIP_VAR_AMOUNT"/>
                  <xs:enumeration value="MTGE_STIP_NO_VARIANCE"/>
                  <xs:enumeration value="MTGE_STIP_SPECIFIC_POOL"/>
                  <xs:enumeration value="MTGE_STIP_ONE_POOL_PER_MIL"/>
                  <xs:enumeration value="MTGE_STIP_OTHER"/>
                  <xs:enumeration value="DOLLAR_ROLL"/>
                  <xs:enumeration value="SPECIAL_PRICE_MEMO"/>
                  <xs:enumeration value="CASH_CODE"/>
                  <xs:enumeration value="LINK_TO_TICKET"/>
                  <xs:enumeration value="CASH_DELIVERY_ACCOUNT_STRATEGY"/>
                  <xs:enumeration value="MktSplitCcy1Rate"/>
                  <xs:enumeration value="MktSplitCcy2Rate"/>
                  <xs:enumeration value="MktSplitCcy1Points"/>
                  <xs:enumeration value="MktSplitCcy2Points"/>
                  <xs:enumeration value="SplitCcyPair1"/>
                  <xs:enumeration value="SplitCcyPair1Rate"/>
                  <xs:enumeration value="SplitCcyPair1Points"/>
                  <xs:enumeration value="SplitCcyPair1Spot"/>
                  <xs:enumeration value="SplitCcyPair2"/>
                  <xs:enumeration value="SplitCcyPair2Rate"/>
                  <xs:enumeration value="SplitCcyPair2Points"/>
                  <xs:enumeration value="SplitCcyPair2Spot"/>
                  <xs:enumeration value="SplitCcyPair1Trader"/>
                  <xs:enumeration value="SplitCcyPair2Trader"/>
                  <xs:enumeration value="TradeFlat"/>
                  <xs:enumeration value="UseStandardInst"/>
                  <xs:enumeration value="UseStandardInst"/>
                  <xs:enumeration value="USE_CASH_AT_SETTLEMENT_ONLY"/>
                  <xs:enumeration value="TRUE_POINTS"/>
                  <xs:enumeration value="DEAL_TYPE"/>
                  <xs:enumeration value="MSRB_SPECIAL_PRICE"/>
                  <xs:enumeration value="SPREAD_BASED_CALCULATIONS"/>
                  <xs:enumeration value="SWAP_ACTION"/>
                  <xs:enumeration value="BB_BYPASS_CUTS"/>
                  <xs:enumeration value="REPO_TRANSACTION_TYPE"/>
                  <xs:enumeration value="REPO_PRODUCT"/>
                  <xs:enumeration value="EARLY_REDEMPTION"/>
                  <xs:enumeration value="ADD_CPN_TO_FWD_PX"/>
                  <xs:enumeration value="EXCLUDE_CPN_INTEREST"/>
                  <xs:enumeration value="CPN_TO_BE_REINVESTED"/>
                  <xs:enumeration value="INDEX_PRODUCT"/>
                  <xs:enumeration value="INDEX_PRODUCT_SPREAD"/>
                  <xs:enumeration value="MAXSUBS"/>
                  <xs:enumeration value="BOND_RATE"/>
                  <xs:enumeration value="DayCnt"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="StipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPool" minOccurs="0" type="xs:string"/>
            <xs:element name="LegDatedDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractSettlMonth" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInterestAccrualDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegQty" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSwapType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="LegSettlType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSettlDate" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegStipulations" minOccurs="0" type="NoLegStipulations"/>
            <xs:element name="NoNestedPartyIDs" minOccurs="0" type="NoNestedPartyIDs"/>
            <xs:element name="LegPriceType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegBidPx" minOccurs="0" type="xs:float"/>
            <xs:element name="LegOfferPx" minOccurs="0" type="xs:float"/>
            <xs:element name="LegBenchmarkCurveCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkCurveName" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkCurvePoint" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegBenchmarkPriceType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegStipulations">
    <xs:sequence>
      <xs:element name="LegStipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegStipulationType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartyIDs">
    <xs:sequence>
      <xs:element name="NestedPartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyRole" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="100"/>
                  <xs:enumeration value="105"/>
                  <xs:enumeration value="106"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoNestedPartySubIDs" minOccurs="0" type="NoNestedPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartySubIDs">
    <xs:sequence>
      <xs:element name="NestedPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
