spec/schema/FIX44Bloomberg/SequenceReset.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SequenceReset">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="GapFillFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="NewSeqNo" type="xs:nonNegativeInteger"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
