spec/schema/FIX44Bloomberg/SettlementInstructions.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettlementInstructions">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="SettlInstMsgID" type="xs:string"/>
        <xs:element name="SettlInstReqID" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlInstMode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlInstReqRejCode" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlInstSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="TransactTime" type="xs:string"/>
        <xs:element name="NoSettlInst" minOccurs="0" type="NoSettlInst"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoSettlInst">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SettlInstID" minOccurs="0" type="xs:string"/>
      <xs:element name="SettlInstTransType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="N"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="T"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SettlInstRefID" minOccurs="0" type="xs:string"/>
      <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
      <xs:element name="Side" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="G"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Product" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SecurityType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="EUSUPRA"/>
            <xs:enumeration value="FAC"/>
            <xs:enumeration value="FADN"/>
            <xs:enumeration value="PEF"/>
            <xs:enumeration value="SUPRA"/>
            <xs:enumeration value="FUT"/>
            <xs:enumeration value="OPT"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CPP"/>
            <xs:enumeration value="CB"/>
            <xs:enumeration value="DUAL"/>
            <xs:enumeration value="EUCORP"/>
            <xs:enumeration value="XLINKD"/>
            <xs:enumeration value="STRUCT"/>
            <xs:enumeration value="YANK"/>
            <xs:enumeration value="FOR"/>
            <xs:enumeration value="CS"/>
            <xs:enumeration value="PS"/>
            <xs:enumeration value="BRADY"/>
            <xs:enumeration value="EUSOV"/>
            <xs:enumeration value="TBOND"/>
            <xs:enumeration value="TINT"/>
            <xs:enumeration value="TIPS"/>
            <xs:enumeration value="TCAL"/>
            <xs:enumeration value="TPRN"/>
            <xs:enumeration value="TNOTE"/>
            <xs:enumeration value="TBILL"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="FORWARD"/>
            <xs:enumeration value="BUYSELL"/>
            <xs:enumeration value="SECLOAN"/>
            <xs:enumeration value="SECPLEDGE"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="RVLV"/>
            <xs:enumeration value="RVLVTRM"/>
            <xs:enumeration value="BRIDGE"/>
            <xs:enumeration value="LOFC"/>
            <xs:enumeration value="SWING"/>
            <xs:enumeration value="DINP"/>
            <xs:enumeration value="DEFLTED"/>
            <xs:enumeration value="WITHDRN"/>
            <xs:enumeration value="REPLACD"/>
            <xs:enumeration value="MATURED"/>
            <xs:enumeration value="AMENDED"/>
            <xs:enumeration value="RETIRED"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="BN"/>
            <xs:enumeration value="BOX"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="CL"/>
            <xs:enumeration value="CP"/>
            <xs:enumeration value="DN"/>
            <xs:enumeration value="EUCD"/>
            <xs:enumeration value="EUCP"/>
            <xs:enumeration value="LQN"/>
            <xs:enumeration value="MTN"/>
            <xs:enumeration value="ONITE"/>
            <xs:enumeration value="PN"/>
            <xs:enumeration value="PZFJ"/>
            <xs:enumeration value="STN"/>
            <xs:enumeration value="TD"/>
            <xs:enumeration value="XCN"/>
            <xs:enumeration value="YCD"/>
            <xs:enumeration value="ABS"/>
            <xs:enumeration value="CMBS"/>
            <xs:enumeration value="CMO"/>
            <xs:enumeration value="IET"/>
            <xs:enumeration value="MBS"/>
            <xs:enumeration value="MIO"/>
            <xs:enumeration value="MPO"/>
            <xs:enumeration value="MPP"/>
            <xs:enumeration value="MPT"/>
            <xs:enumeration value="PFAND"/>
            <xs:enumeration value="TBA"/>
            <xs:enumeration value="AN"/>
            <xs:enumeration value="COFO"/>
            <xs:enumeration value="COFP"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="RAN"/>
            <xs:enumeration value="REV"/>
            <xs:enumeration value="SPCLA"/>
            <xs:enumeration value="SPCLO"/>
            <xs:enumeration value="SPCLT"/>
            <xs:enumeration value="TAN"/>
            <xs:enumeration value="TAXA"/>
            <xs:enumeration value="TECP"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="VRDN"/>
            <xs:enumeration value="WAR"/>
            <xs:enumeration value="MF"/>
            <xs:enumeration value="MLEG"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="?"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
      <xs:element name="EffectiveTime" minOccurs="0" type="xs:string"/>
      <xs:element name="ExpireTime" minOccurs="0" type="xs:string"/>
      <xs:element name="LastUpdateTime" minOccurs="0" type="xs:string"/>
      <xs:element name="SettlDeliveryType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StandInstDbType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StandInstDbName" minOccurs="0" type="xs:string"/>
      <xs:element name="StandInstDbID" minOccurs="0" type="xs:string"/>
      <xs:element name="NoDlvyInst" minOccurs="0" type="NoDlvyInst"/>
      <xs:element name="PaymentMethod" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PaymentRef" minOccurs="0" type="xs:string"/>
      <xs:element name="CardHolderName" minOccurs="0" type="xs:string"/>
      <xs:element name="CardNumber" minOccurs="0" type="xs:string"/>
      <xs:element name="CardStartDate" minOccurs="0" type="xs:string"/>
      <xs:element name="CardExpDate" minOccurs="0" type="xs:string"/>
      <xs:element name="CardIssNum" minOccurs="0" type="xs:string"/>
      <xs:element name="PaymentDate" minOccurs="0" type="xs:string"/>
      <xs:element name="PaymentRemitterID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="PartyIDSource" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="I"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PartyRole" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="100"/>
            <xs:enumeration value="101"/>
            <xs:enumeration value="104"/>
            <xs:enumeration value="105"/>
            <xs:enumeration value="107"/>
            <xs:enumeration value="109"/>
            <xs:enumeration value="111"/>
            <xs:enumeration value="114"/>
            <xs:enumeration value="114"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NoPartySubIDs" minOccurs="0" type="NoPartySubIDs"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartySubIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
      <xs:element name="PartySubIDType" minOccurs="0" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDlvyInst">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SettlInstSource" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DlvyInstType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="C"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NoSettlPartyIDs" minOccurs="0" type="NoSettlPartyIDs"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSettlPartyIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SettlPartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="SettlPartyIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="SettlPartyRole" minOccurs="0" type="xs:integer"/>
      <xs:element name="NoSettlPartySubIDs" minOccurs="0" type="NoSettlPartySubIDs"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSettlPartySubIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SettlPartySubID" minOccurs="0" type="xs:string"/>
      <xs:element name="SettlPartySubIDType" minOccurs="0" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
