spec/schema/FIX42/MarketDataSnapshotFullRefresh.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MarketDataSnapshotFullRefresh">
    <xs:complexType>
      <!-- body -->
      <xs:sequence>
        <xs:element name="MDReqID" minOccurs="0" type="xs:string"/>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="IDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BA"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="FHA"/>
              <xs:enumeration value="FHL"/>
              <xs:enumeration value="FN"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="GN"/>
              <xs:enumeration value="GOVT"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="MUNI"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="SL"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="ZOO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDay" minOccurs="0" type="xs:string"/>
        <xs:element name="PutOrCall" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:integer"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:integer"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="FinancialStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CorporateAction" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TotalVolumeTraded" minOccurs="0" type="xs:float"/>
        <xs:element name="NoMDEntries" type="NoMDEntries"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoMDEntries">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="MDEntryType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MDEntryPx" type="xs:float"/>
      <xs:element name="Currency" minOccurs="0" type="xs:string"/>
      <xs:element name="MDEntrySize" minOccurs="0" type="xs:float"/>
      <xs:element name="MDEntryDate" minOccurs="0" type="xs:string"/>
      <xs:element name="MDEntryTime" minOccurs="0" type="xs:string"/>
      <xs:element name="TickDirection" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MDMkt" minOccurs="0" type="xs:string"/>
      <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
      <xs:element name="QuoteCondition" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="I"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TradeCondition" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="J"/>
            <xs:enumeration value="K"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="N"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MDEntryOriginator" minOccurs="0" type="xs:string"/>
      <xs:element name="LocationID" minOccurs="0" type="xs:string"/>
      <xs:element name="DeskID" minOccurs="0" type="xs:string"/>
      <xs:element name="OpenCloseSettleFlag" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TimeInForce" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExpireDate" minOccurs="0" type="xs:string"/>
      <xs:element name="ExpireTime" minOccurs="0" type="xs:string"/>
      <xs:element name="MinQty" minOccurs="0" type="xs:float"/>
      <xs:element name="ExecInst" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="G"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="P"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="T"/>
            <xs:enumeration value="U"/>
            <xs:enumeration value="V"/>
            <xs:enumeration value="W"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SellerDays" minOccurs="0" type="xs:integer"/>
      <xs:element name="OrderID" minOccurs="0" type="xs:string"/>
      <xs:element name="QuoteEntryID" minOccurs="0" type="xs:string"/>
      <xs:element name="MDEntryBuyer" minOccurs="0" type="xs:string"/>
      <xs:element name="MDEntrySeller" minOccurs="0" type="xs:string"/>
      <xs:element name="NumberOfOrders" minOccurs="0" type="xs:integer"/>
      <xs:element name="MDEntryPositionNo" minOccurs="0" type="xs:integer"/>
      <xs:element name="Text" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedTextLen" minOccurs="0" type="xs:integer"/>
      <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
