spec/schema/FIX42/ResendRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResendRequest">
    <xs:attribute name="beginString" type="xs:string"/>
    <xs:attribute name="msgType" type="xs:string"/>
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="BeginSeqNo" type="xs:integer"/>
        <xs:element name="EndSeqNo" type="xs:integer"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
