spec/schema/FIX42/SequenceReset.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SequenceReset">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="GapFillFlag" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y"/>
              <xs:enumeration value="N"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NewSeqNo" type="xs:integer"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
