spec/schema/FIX42/TestRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestRequest">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="TestReqID" type="xs:string"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
