spec/schema/FIX43/ExecutionReport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExecutionReport">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="OrderID" type="xs:string"/>
        <xs:element name="SecondaryOrderID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecondaryClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecondaryExecID" minOccurs="0" type="xs:string"/>
        <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="OrigClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="ClOrdLinkID" minOccurs="0" type="xs:string"/>
        <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
        <xs:element name="TradeOriginationDate" minOccurs="0" type="xs:string"/>
        <xs:element name="NoContraBrokers" minOccurs="0" type="NoContraBrokers"/>
        <xs:element name="ListID" minOccurs="0" type="xs:string"/>
        <xs:element name="CrossID" minOccurs="0" type="xs:string"/>
        <xs:element name="OrigCrossID" minOccurs="0" type="xs:string"/>
        <xs:element name="CrossType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExecID" type="xs:string"/>
        <xs:element name="ExecRefID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrdStatus">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WorkingIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="OrdRejReason" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExecRestatementReason" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Account" minOccurs="0" type="xs:string"/>
        <xs:element name="AccountType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DayBookingInst" minOccurs="0" type="xs:string"/>
        <xs:element name="BookingUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="PreallocMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlmntTyp" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FutSettDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CashMargin" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClearingFeeIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="POOL"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="Factor" minOccurs="0" type="xs:float"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Code"/>
              <xs:enumeration value="ZZ"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Side">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoStipulations" minOccurs="0" type="NoStipulations"/>
        <xs:element name="QuantityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="RoundingDirection" minOccurs="0" type="xs:string"/>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:float"/>
        <xs:element name="OrdType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="P"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Price" minOccurs="0" type="xs:float"/>
        <xs:element name="StopPx" minOccurs="0" type="xs:float"/>
        <xs:element name="PegDifference" minOccurs="0" type="xs:float"/>
        <xs:element name="DiscretionInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DiscretionOffset" minOccurs="0" type="xs:float"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="ComplianceID" minOccurs="0" type="xs:string"/>
        <xs:element name="SolicitedFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="TimeInForce" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EffectiveTime" minOccurs="0" type="xs:string"/>
        <xs:element name="ExpireDate" minOccurs="0" type="xs:string"/>
        <xs:element name="ExpireTime" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="0"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="N"/>
              <xs:enumeration value="O"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="Q"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="S"/>
              <xs:enumeration value="T"/>
              <xs:enumeration value="U"/>
              <xs:enumeration value="V"/>
              <xs:enumeration value="W"/>
              <xs:enumeration value="X"/>
              <xs:enumeration value="Y"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="W"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderRestrictions" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CustOrderCapacity" minOccurs="0" type="xs:integer"/>
        <xs:element name="Rule80A" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="N"/>
              <xs:enumeration value="O"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="S"/>
              <xs:enumeration value="T"/>
              <xs:enumeration value="U"/>
              <xs:enumeration value="W"/>
              <xs:enumeration value="X"/>
              <xs:enumeration value="Y"/>
              <xs:enumeration value="Z"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LastQty" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingLastQty" minOccurs="0" type="xs:float"/>
        <xs:element name="LastPx" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingLastPx" minOccurs="0" type="xs:float"/>
        <xs:element name="LastSpotRate" minOccurs="0" type="xs:float"/>
        <xs:element name="LastForwardPoints" minOccurs="0" type="xs:float"/>
        <xs:element name="LastMkt" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
        <xs:element name="LastCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LeavesQty" type="xs:float"/>
        <xs:element name="CumQty" type="xs:float"/>
        <xs:element name="AvgPx" type="xs:float"/>
        <xs:element name="DayOrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DayCumQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DayAvgPx" minOccurs="0" type="xs:float"/>
        <xs:element name="GTBookingInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeDate" minOccurs="0" type="xs:string"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="ReportToExch" minOccurs="0" type="xs:string"/>
        <xs:element name="Commission" minOccurs="0" type="xs:float"/>
        <xs:element name="CommType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="FundRenewWaiv" minOccurs="0" type="xs:string"/>
        <xs:element name="Spread" minOccurs="0" type="xs:float"/>
        <xs:element name="BenchmarkCurveCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkCurveName" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkCurvePoint" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="AFTERTAX"/>
              <xs:enumeration value="ANNUAL"/>
              <xs:enumeration value="ATISSUE"/>
              <xs:enumeration value="AVGLIFE"/>
              <xs:enumeration value="AVGMATURITY"/>
              <xs:enumeration value="BOOK"/>
              <xs:enumeration value="CALL"/>
              <xs:enumeration value="CHANGE"/>
              <xs:enumeration value="CLOSE"/>
              <xs:enumeration value="COMPOUND"/>
              <xs:enumeration value="CURRENT"/>
              <xs:enumeration value="GROSS"/>
              <xs:enumeration value="GOVTEQUIV"/>
              <xs:enumeration value="INFLATION"/>
              <xs:enumeration value="INVERSEFLOATER"/>
              <xs:enumeration value="LASTCLOSE"/>
              <xs:enumeration value="LASTMONTH"/>
              <xs:enumeration value="LASTQUARTER"/>
              <xs:enumeration value="LASTYEAR"/>
              <xs:enumeration value="LONGAVGLIFE"/>
              <xs:enumeration value="LONGEST"/>
              <xs:enumeration value="MARK"/>
              <xs:enumeration value="MATURITY"/>
              <xs:enumeration value="NEXTREFUND"/>
              <xs:enumeration value="OPENAVG"/>
              <xs:enumeration value="PUT"/>
              <xs:enumeration value="PREVCLOSE"/>
              <xs:enumeration value="PROCEEDS"/>
              <xs:enumeration value="SEMIANNUAL"/>
              <xs:enumeration value="SHORTAVGLIFE"/>
              <xs:enumeration value="SHORTEST"/>
              <xs:enumeration value="SIMPLE"/>
              <xs:enumeration value="TAXEQUIV"/>
              <xs:enumeration value="TENDER"/>
              <xs:enumeration value="TRUE"/>
              <xs:enumeration value="WORST"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Yield" minOccurs="0" type="xs:float"/>
        <xs:element name="GrossTradeAmt" minOccurs="0" type="xs:float"/>
        <xs:element name="NumDaysInterest" minOccurs="0" type="xs:integer"/>
        <xs:element name="ExDate" minOccurs="0" type="xs:string"/>
        <xs:element name="AccruedInterestRate" minOccurs="0" type="xs:float"/>
        <xs:element name="AccruedInterestAmt" minOccurs="0" type="xs:float"/>
        <xs:element name="TradedFlatSwitch" minOccurs="0" type="xs:string"/>
        <xs:element name="BasisFeatureDate" minOccurs="0" type="xs:string"/>
        <xs:element name="BasisFeaturePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="Concession" minOccurs="0" type="xs:float"/>
        <xs:element name="TotalTakedown" minOccurs="0" type="xs:float"/>
        <xs:element name="NetMoney" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrAmt" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlCurrFxRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SettlCurrFxRateCalc" minOccurs="0" type="xs:string"/>
        <xs:element name="HandlInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MinQty" minOccurs="0" type="xs:float"/>
        <xs:element name="MaxFloor" minOccurs="0" type="xs:float"/>
        <xs:element name="PositionEffect" minOccurs="0" type="xs:string"/>
        <xs:element name="MaxShow" minOccurs="0" type="xs:float"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="FutSettDate2" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderQty2" minOccurs="0" type="xs:float"/>
        <xs:element name="LastForwardPoints2" minOccurs="0" type="xs:float"/>
        <xs:element name="MultiLegReportingType" minOccurs="0" type="xs:string"/>
        <xs:element name="CancellationRights" minOccurs="0" type="xs:string"/>
        <xs:element name="MoneyLaunderingStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y"/>
              <xs:enumeration value="N"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RegistID" minOccurs="0" type="xs:string"/>
        <xs:element name="Designation" minOccurs="0" type="xs:string"/>
        <xs:element name="TransBkdTime" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecValuationPoint" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecPriceType" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecPriceAdjustment" minOccurs="0" type="xs:float"/>
        <xs:element name="PriorityIndicator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PriceImprovement" minOccurs="0" type="xs:float"/>
        <xs:element name="NoContAmts" minOccurs="0" type="NoContAmts"/>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence>
      <xs:element name="PartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartyIDSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartyRole" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoContraBrokers">
    <xs:sequence>
      <xs:element name="ContraBroker" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ContraBroker" minOccurs="0" type="xs:string"/>
            <xs:element name="ContraTrader" minOccurs="0" type="xs:string"/>
            <xs:element name="ContraTradeQty" minOccurs="0" type="xs:float"/>
            <xs:element name="ContraTradeTime" minOccurs="0" type="xs:string"/>
            <xs:element name="ContraLegRefID" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoStipulations">
    <xs:sequence>
      <xs:element name="Stipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StipulationType" minOccurs="0" type="xs:string"/>
            <xs:element name="StipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoContAmts">
    <xs:sequence>
      <xs:element name="ContAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ContAmtType" minOccurs="0" type="xs:integer"/>
            <xs:element name="ContAmtValue" minOccurs="0" type="xs:float"/>
            <xs:element name="ContAmtCurr" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPositionEffect" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCoveredOrUncovered" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoNestedPartyIDs" minOccurs="0" type="NoNestedPartyIDs"/>
            <xs:element name="LegRefID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSettlmntTyp" minOccurs="0" type="xs:string"/>
            <xs:element name="LegFutSettDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLastPx" minOccurs="0" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartyIDs">
    <xs:sequence>
      <xs:element name="NestedPartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NestedPartySubID" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
