spec/schema/FIX43/ListCancelRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListCancelRequest">
    <xs:complexType>
      <!-- body -->
      <xs:sequence>
        <xs:element name="ListID" type="xs:string"/>
        <xs:element name="TransactTime" type="xs:string"/>
        <xs:element name="TradeOriginationDate" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
