spec/schema/FIX43/MultilegOrderCancelReplaceRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MultilegOrderCancelReplaceRequest">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="OrderID" minOccurs="0" type="xs:string"/>
        <xs:element name="OrigClOrdID" type="xs:string"/>
        <xs:element name="ClOrdID" type="xs:string"/>
        <xs:element name="SecondaryClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="ClOrdLinkID" minOccurs="0" type="xs:string"/>
        <xs:element name="OrigOrdModTime" minOccurs="0" type="xs:string"/>
        <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
        <xs:element name="Account" minOccurs="0" type="xs:string"/>
        <xs:element name="AccountType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DayBookingInst" minOccurs="0" type="xs:string"/>
        <xs:element name="BookingUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="PreallocMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="NoAllocs" minOccurs="0" type="NoAllocs"/>
        <xs:element name="SettlmntTyp" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FutSettDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CashMargin" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ClearingFeeIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="HandlInst">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExecInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="0"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="N"/>
              <xs:enumeration value="O"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="Q"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="S"/>
              <xs:enumeration value="T"/>
              <xs:enumeration value="U"/>
              <xs:enumeration value="V"/>
              <xs:enumeration value="W"/>
              <xs:enumeration value="X"/>
              <xs:enumeration value="Y"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MinQty" minOccurs="0" type="xs:float"/>
        <xs:element name="MaxFloor" minOccurs="0" type="xs:float"/>
        <xs:element name="ExDestination" minOccurs="0" type="xs:string"/>
        <xs:element name="NoTradingSessions" minOccurs="0" type="NoTradingSessions"/>
        <xs:element name="ProcessCode" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Side">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="POOL"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="Factor" minOccurs="0" type="xs:float"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Code"/>
              <xs:enumeration value="ZZ"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="PrevClosePx" minOccurs="0" type="xs:float"/>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="LocateReqd" minOccurs="0" type="xs:string"/>
        <xs:element name="TransactTime" type="xs:string"/>
        <xs:element name="QuantityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="RoundingDirection" minOccurs="0" type="xs:string"/>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:float"/>
        <xs:element name="OrdType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="P"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Price" minOccurs="0" type="xs:float"/>
        <xs:element name="StopPx" minOccurs="0" type="xs:float"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="ComplianceID" minOccurs="0" type="xs:string"/>
        <xs:element name="SolicitedFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="IOIid" minOccurs="0" type="xs:string"/>
        <xs:element name="QuoteID" minOccurs="0" type="xs:string"/>
        <xs:element name="TimeInForce" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EffectiveTime" minOccurs="0" type="xs:string"/>
        <xs:element name="ExpireDate" minOccurs="0" type="xs:string"/>
        <xs:element name="ExpireTime" minOccurs="0" type="xs:string"/>
        <xs:element name="GTBookingInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Commission" minOccurs="0" type="xs:float"/>
        <xs:element name="CommType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="FundRenewWaiv" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="W"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderRestrictions" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CustOrderCapacity" minOccurs="0" type="xs:integer"/>
        <xs:element name="ForexReq" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="PositionEffect" minOccurs="0" type="xs:string"/>
        <xs:element name="CoveredOrUncovered" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaxShow" minOccurs="0" type="xs:float"/>
        <xs:element name="PegDifference" minOccurs="0" type="xs:float"/>
        <xs:element name="DiscretionInst" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DiscretionOffset" minOccurs="0" type="xs:float"/>
        <xs:element name="CancellationRights" minOccurs="0" type="xs:string"/>
        <xs:element name="MoneyLaunderingStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Y"/>
              <xs:enumeration value="N"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RegistID" minOccurs="0" type="xs:string"/>
        <xs:element name="Designation" minOccurs="0" type="xs:string"/>
        <xs:element name="MultiLegRptTypeReq" minOccurs="0" type="xs:integer"/>
        <xs:element name="NetMoney" minOccurs="0" type="xs:float"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="PartyIDSource" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="A"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PartyRole" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoAllocs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="AllocAccount" minOccurs="0" type="xs:string"/>
      <xs:element name="IndividualAllocID" minOccurs="0" type="xs:string"/>
      <xs:element name="AllocQty" minOccurs="0" type="xs:float"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTradingSessions">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
      <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
      <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
      <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
      <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
      <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:float"/>
      <xs:element name="LegFactor" minOccurs="0" type="xs:float"/>
      <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
      <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegStrikePrice" minOccurs="0" type="xs:float"/>
      <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
      <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:float"/>
      <xs:element name="LegCouponRate" minOccurs="0" type="xs:float"/>
      <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
      <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRatioQty" minOccurs="0" type="xs:float"/>
      <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
      <xs:element name="LegPositionEffect" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCoveredOrUncovered" minOccurs="0" type="xs:integer"/>
      <xs:element name="NoNestedPartyIDs" minOccurs="0" type="NoNestedPartyIDs"/>
      <xs:element name="LegRefID" minOccurs="0" type="xs:string"/>
      <xs:element name="LegPrice" minOccurs="0" type="xs:float"/>
      <xs:element name="LegSettlmntTyp" minOccurs="0" type="xs:string"/>
      <xs:element name="LegFutSettDate" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartyIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="NestedPartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="NestedPartyIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="NestedPartyRole" minOccurs="0" type="xs:integer"/>
      <xs:element name="NestedPartySubID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
