spec/schema/FIX43/ResendRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResendRequest">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="BeginSeqNo" type="xs:nonNegativeInteger"/>
        <xs:element name="EndSeqNo" type="xs:nonNegativeInteger"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
