spec/schema/FIX43/SecurityDefinition.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecurityDefinition">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="SecurityReqID" type="xs:string"/>
        <xs:element name="SecurityResponseID" type="xs:string"/>
        <xs:element name="SecurityResponseType">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Symbol" minOccurs="0" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="POOL"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="Factor" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Code"/>
              <xs:enumeration value="ZZ"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="RoundLot" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MinTradeVol" minOccurs="0" type="xs:decimal"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
