spec/schema/FIX43/SettlementInstructions.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettlementInstructions">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="SettlInstID" type="xs:string"/>
        <xs:element name="SettlInstTransType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="N"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="R"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlInstRefID" type="xs:string"/>
        <xs:element name="SettlInstMode">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlInstSource">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AllocAccount" type="xs:string"/>
        <xs:element name="IndividualAllocID" minOccurs="0" type="xs:string"/>
        <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="TradeDate" minOccurs="0" type="xs:string"/>
        <xs:element name="AllocID" minOccurs="0" type="xs:string"/>
        <xs:element name="LastMkt" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
        <xs:element name="Side" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="POOL"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="EffectiveTime" minOccurs="0" type="xs:string"/>
        <xs:element name="TransactTime" type="xs:string"/>
        <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
        <xs:element name="StandInstDbType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StandInstDbName" minOccurs="0" type="xs:string"/>
        <xs:element name="StandInstDbID" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlDeliveryType" minOccurs="0" type="xs:integer"/>
        <xs:element name="SettlDepositoryCode" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlBrkrCode" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlInstCode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentName" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentCode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentAcctNum" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentAcctName" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentContactName" minOccurs="0" type="xs:string"/>
        <xs:element name="SecuritySettlAgentContactPhone" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentName" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentCode" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentAcctNum" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentAcctName" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentContactName" minOccurs="0" type="xs:string"/>
        <xs:element name="CashSettlAgentContactPhone" minOccurs="0" type="xs:string"/>
        <xs:element name="PaymentMethod" minOccurs="0" type="xs:integer"/>
        <xs:element name="PaymentRef" minOccurs="0" type="xs:string"/>
        <xs:element name="CardHolderName" minOccurs="0" type="xs:string"/>
        <xs:element name="CardNumber" minOccurs="0" type="xs:string"/>
        <xs:element name="CardStartDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CardExpDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CardIssNo" minOccurs="0" type="xs:string"/>
        <xs:element name="PaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="PaymentRemitterID" minOccurs="0" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="PartyIDSource" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="A"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PartyRole" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
