spec/schema/FIX43/TradeCaptureReport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TradeCaptureReport">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="TradeReportID" type="xs:string"/>
        <xs:element name="TradeReportTransType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="N"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="R"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeRequestID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeReportRefID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecondaryExecID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecRestatementReason" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PreviouslyReported" type="xs:string"/>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="POOL"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="Factor" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Code"/>
              <xs:enumeration value="ZZ"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:decimal"/>
        <xs:element name="RoundingDirection" minOccurs="0" type="xs:string"/>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:decimal"/>
        <xs:element name="LastQty" type="xs:decimal"/>
        <xs:element name="LastPx" type="xs:decimal"/>
        <xs:element name="LastSpotRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="LastForwardPoints" minOccurs="0" type="xs:decimal"/>
        <xs:element name="LastMkt" minOccurs="0" type="xs:string"/>
        <xs:element name="TradeDate" type="xs:string"/>
        <xs:element name="TransactTime" type="xs:string"/>
        <xs:element name="SettlmntTyp" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FutSettDate" minOccurs="0" type="xs:string"/>
        <xs:element name="MatchStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MatchType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A1"/>
              <xs:enumeration value="A2"/>
              <xs:enumeration value="A3"/>
              <xs:enumeration value="A4"/>
              <xs:enumeration value="A5"/>
              <xs:enumeration value="AQ"/>
              <xs:enumeration value="S1"/>
              <xs:enumeration value="S2"/>
              <xs:enumeration value="S3"/>
              <xs:enumeration value="S4"/>
              <xs:enumeration value="S5"/>
              <xs:enumeration value="M1"/>
              <xs:enumeration value="M2"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="M1"/>
              <xs:enumeration value="M2"/>
              <xs:enumeration value="M3"/>
              <xs:enumeration value="M4"/>
              <xs:enumeration value="M5"/>
              <xs:enumeration value="M6"/>
              <xs:enumeration value="MT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSides" type="NoSides"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSides">
    <xs:sequence>
      <xs:element name="Side" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Side">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OrderID" type="xs:string"/>
            <xs:element name="SecondaryOrderID" minOccurs="0" type="xs:string"/>
            <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
            <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
            <xs:element name="Account" minOccurs="0" type="xs:string"/>
            <xs:element name="AccountType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ProcessCode" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OddLot" minOccurs="0" type="xs:string"/>
            <xs:element name="NoClearingInstructions" minOccurs="0" type="NoClearingInstructions"/>
            <xs:element name="ClearingFeeIndicator" minOccurs="0" type="xs:string"/>
            <xs:element name="TradeInputSource" minOccurs="0" type="xs:string"/>
            <xs:element name="TradeInputDevice" minOccurs="0" type="xs:string"/>
            <xs:element name="Currency" minOccurs="0" type="xs:string"/>
            <xs:element name="ComplianceID" minOccurs="0" type="xs:string"/>
            <xs:element name="SolicitedFlag" minOccurs="0" type="xs:string"/>
            <xs:element name="OrderCapacity" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="P"/>
                  <xs:enumeration value="R"/>
                  <xs:enumeration value="W"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OrderRestrictions" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CustOrderCapacity" minOccurs="0" type="xs:integer"/>
            <xs:element name="TransBkdTime" minOccurs="0" type="xs:string"/>
            <xs:element name="TradingSessionID" minOccurs="0" type="xs:string"/>
            <xs:element name="TradingSessionSubID" minOccurs="0" type="xs:string"/>
            <xs:element name="Commission" minOccurs="0" type="xs:decimal"/>
            <xs:element name="CommType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CommCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="FundRenewWaiv" minOccurs="0" type="xs:string"/>
            <xs:element name="GrossTradeAmt" minOccurs="0" type="xs:decimal"/>
            <xs:element name="NumDaysInterest" minOccurs="0" type="xs:integer"/>
            <xs:element name="ExDate" minOccurs="0" type="xs:string"/>
            <xs:element name="AccruedInterestRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="AccruedInterestAmt" minOccurs="0" type="xs:decimal"/>
            <xs:element name="Concession" minOccurs="0" type="xs:decimal"/>
            <xs:element name="TotalTakedown" minOccurs="0" type="xs:decimal"/>
            <xs:element name="NetMoney" minOccurs="0" type="xs:decimal"/>
            <xs:element name="SettlCurrAmt" minOccurs="0" type="xs:decimal"/>
            <xs:element name="SettlCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="SettlCurrFxRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="SettlCurrFxRateCalc" minOccurs="0" type="xs:string"/>
            <xs:element name="PositionEffect" minOccurs="0" type="xs:string"/>
            <xs:element name="Text" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
            <xs:element name="MultiLegReportingType" minOccurs="0" type="xs:string"/>
            <xs:element name="NoContAmts" minOccurs="0" type="NoContAmts"/>
            <xs:element name="NoMiscFees" minOccurs="0" type="NoMiscFees"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence>
      <xs:element name="PartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartyIDSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartyRole" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="20"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoClearingInstructions">
    <xs:sequence>
      <xs:element name="ClearingInstruction" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ClearingInstruction" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoContAmts">
    <xs:sequence>
      <xs:element name="ContAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ContAmtType" minOccurs="0" type="xs:integer"/>
            <xs:element name="ContAmtValue" minOccurs="0" type="xs:decimal"/>
            <xs:element name="ContAmtCurr" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMiscFees">
    <xs:sequence>
      <xs:element name="MiscFee" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MiscFeeAmt" minOccurs="0" type="xs:decimal"/>
            <xs:element name="MiscFeeCurr" minOccurs="0" type="xs:string"/>
            <xs:element name="MiscFeeType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
