spec/schema/FIX50/ExecutionAcknowledgement.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExecutionAcknowledgement">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="OrderID" type="xs:string"/>
        <xs:element name="SecondaryOrderID" minOccurs="0" type="xs:string"/>
        <xs:element name="ClOrdID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecAckStatus">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExecID" type="xs:string"/>
        <xs:element name="DKReason" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="Z"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Symbol" minOccurs="0" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CD"/>
              <xs:enumeration value="WI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="K"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
              <xs:enumeration value="13"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="BUYSELL"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DN"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="EUCD"/>
              <xs:enumeration value="EUCORP"/>
              <xs:enumeration value="EUCP"/>
              <xs:enumeration value="EUSOV"/>
              <xs:enumeration value="EUSUPRA"/>
              <xs:enumeration value="FAC"/>
              <xs:enumeration value="FADN"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="FORWARD"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="PEF"/>
              <xs:enumeration value="PFAND"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="REPO"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="SECLOAN"/>
              <xs:enumeration value="SECPLEDGE"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="SUPRA"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TBA"/>
              <xs:enumeration value="TBILL"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TNOTE"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="WLD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="YCD"/>
              <xs:enumeration value="OOP"/>
              <xs:enumeration value="OOF"/>
              <xs:enumeration value="CASH"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="Factor" minOccurs="0" type="xs:float"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="StrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Pool" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="CPProgram" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="NoEvents" minOccurs="0" type="NoEvents"/>
        <xs:element name="DatedDate" minOccurs="0" type="xs:string"/>
        <xs:element name="InterestAccrualDate" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityStat" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettleOnOpenFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrmtAssignmentMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikeMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="StrikeValue" minOccurs="0" type="xs:float"/>
        <xs:element name="MinPriceIncrement" minOccurs="0" type="xs:float"/>
        <xs:element name="PositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="NTPositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="NoInstrumentParties" minOccurs="0" type="NoInstrumentParties"/>
        <xs:element name="UnitOfMeasure" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MWh"/>
              <xs:enumeration value="MMBtu"/>
              <xs:enumeration value="Bbl"/>
              <xs:enumeration value="Gal"/>
              <xs:enumeration value="t"/>
              <xs:enumeration value="tn"/>
              <xs:enumeration value="MMbbl"/>
              <xs:enumeration value="lbs"/>
              <xs:enumeration value="oz_tr"/>
              <xs:enumeration value="USD"/>
              <xs:enumeration value="Bcf"/>
              <xs:enumeration value="Bu"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TimeUnit" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S"/>
              <xs:enumeration value="Min"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="Wk"/>
              <xs:enumeration value="Mo"/>
              <xs:enumeration value="Yr"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="NoUnderlyings" minOccurs="0" type="NoUnderlyings"/>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="Side">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:float"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="RoundingDirection" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:float"/>
        <xs:element name="LastQty" minOccurs="0" type="xs:float"/>
        <xs:element name="LastPx" minOccurs="0" type="xs:float"/>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="13"/>
              <xs:enumeration value="14"/>
              <xs:enumeration value="15"/>
              <xs:enumeration value="16"/>
              <xs:enumeration value="17"/>
              <xs:enumeration value="18"/>
              <xs:enumeration value="19"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LastParPx" minOccurs="0" type="xs:float"/>
        <xs:element name="CumQty" minOccurs="0" type="xs:float"/>
        <xs:element name="AvgPx" minOccurs="0" type="xs:float"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
      <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoEvents">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="EventType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="99"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EventDate" minOccurs="0" type="xs:string"/>
      <xs:element name="EventPx" minOccurs="0" type="xs:float"/>
      <xs:element name="EventText" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentParties">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="InstrumentPartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="InstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="InstrumentPartyRole" minOccurs="0" type="xs:integer"/>
      <xs:element name="NoInstrumentPartySubIDs" minOccurs="0" type="NoInstrumentPartySubIDs"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentPartySubIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="InstrumentPartySubID" minOccurs="0" type="xs:string"/>
      <xs:element name="InstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyings">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="UnderlyingSymbol" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSymbolSfx" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecurityID" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecurityIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="NoUnderlyingSecurityAltID" minOccurs="0" type="NoUnderlyingSecurityAltID"/>
      <xs:element name="UnderlyingProduct" minOccurs="0" type="xs:integer"/>
      <xs:element name="UnderlyingCFICode" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecurityType" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecuritySubType" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingMaturityMonthYear" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingMaturityDate" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCouponPaymentDate" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingIssueDate" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
      <xs:element name="UnderlyingRepurchaseTerm" minOccurs="0" type="xs:integer"/>
      <xs:element name="UnderlyingRepurchaseRate" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingFactor" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingCreditRating" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingInstrRegistry" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCountryOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingLocaleOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingRedemptionDate" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingStrikePrice" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingStrikeCurrency" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingOptAttribute" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingContractMultiplier" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingCouponRate" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingSecurityExchange" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedUnderlyingIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedUnderlyingIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedUnderlyingSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedUnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCPProgram" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCPRegType" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCurrency" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingQty" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingPx" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingDirtyPrice" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingEndPrice" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingStartValue" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingCurrentValue" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingEndValue" minOccurs="0" type="xs:float"/>
      <xs:element name="NoUnderlyingStips" minOccurs="0" type="NoUnderlyingStips"/>
      <xs:element name="UnderlyingAllocationPercent" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingSettlementType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="2"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UnderlyingCashAmount" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingCashType" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="FIXED"/>
            <xs:enumeration value="DIFF"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UnderlyingUnitOfMeasure" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingTimeUnit" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingCapValue" minOccurs="0" type="xs:float"/>
      <xs:element name="NoUndlyInstrumentParties" minOccurs="0" type="NoUndlyInstrumentParties"/>
      <xs:element name="UnderlyingSettlMethod" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingAdjustedQuantity" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingFXRate" minOccurs="0" type="xs:float"/>
      <xs:element name="UnderlyingFXRateCalc" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="D"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingSecurityAltID">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="UnderlyingSecurityAltID" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingSecurityAltIDSource" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingStips">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="UnderlyingStipType" minOccurs="0" type="xs:string"/>
      <xs:element name="UnderlyingStipValue" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentParties">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="UndlyInstrumentPartyID" minOccurs="0" type="xs:string"/>
      <xs:element name="UndlyInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="UndlyInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
      <xs:element name="NoUndlyInstrumentPartySubIDs" minOccurs="0" type="NoUndlyInstrumentPartySubIDs"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentPartySubIDs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" type="xs:string"/>
      <xs:element name="UndlyInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
      <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
      <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecuritySubType" minOccurs="0" type="xs:string"/>
      <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
      <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
      <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:float"/>
      <xs:element name="LegFactor" minOccurs="0" type="xs:float"/>
      <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
      <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegStrikePrice" minOccurs="0" type="xs:float"/>
      <xs:element name="LegStrikeCurrency" minOccurs="0" type="xs:string"/>
      <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
      <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:float"/>
      <xs:element name="LegCouponRate" minOccurs="0" type="xs:float"/>
      <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
      <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
      <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
      <xs:element name="LegRatioQty" minOccurs="0" type="xs:float"/>
      <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
      <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
      <xs:element name="LegPool" minOccurs="0" type="xs:string"/>
      <xs:element name="LegDatedDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegContractSettlMonth" minOccurs="0" type="xs:string"/>
      <xs:element name="LegInterestAccrualDate" minOccurs="0" type="xs:string"/>
      <xs:element name="LegUnitOfMeasure" minOccurs="0" type="xs:string"/>
      <xs:element name="LegTimeUnit" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
      <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
