spec/schema/FIX50SP1/DerivativeSecurityList.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DerivativeSecurityList">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="SecurityReqID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityResponseID" type="xs:string"/>
        <xs:element name="SecurityRequestResult" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingSymbol" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="NoUnderlyingSecurityAltID" minOccurs="0" type="NoUnderlyingSecurityAltID"/>
        <xs:element name="UnderlyingProduct" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingCFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingMaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingMaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingIssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingRepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingRepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFactor" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingInstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingLocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingRedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingStrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingStrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingOptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingSecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedUnderlyingIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedUnderlyingIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedUnderlyingSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedUnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCPProgram" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingQty" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingPx" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingDirtyPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingEndPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingStartValue" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCurrentValue" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingEndValue" minOccurs="0" type="xs:float"/>
        <xs:element name="NoUnderlyingStips" minOccurs="0" type="NoUnderlyingStips"/>
        <xs:element name="UnderlyingAllocationPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingSettlementType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="2"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingCashAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCashType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FIXED"/>
              <xs:enumeration value="DIFF"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingTimeUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCapValue" minOccurs="0" type="xs:float"/>
        <xs:element name="NoUndlyInstrumentParties" minOccurs="0" type="NoUndlyInstrumentParties"/>
        <xs:element name="UnderlyingSettlMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingAdjustedQuantity" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFXRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFXRateCalc" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="M"/>
              <xs:enumeration value="D"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingMaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingPutOrCall" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingExerciseStyle" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingPriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingPriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="TotNoRelatedSym" minOccurs="0" type="xs:integer"/>
        <xs:element name="LastFragment" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="N"/>
              <xs:enumeration value="Y"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoRelatedSym" minOccurs="0" type="NoRelatedSym"/>
        <xs:element name="DerivativeSymbol" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="NoDerivativeSecurityAltID" minOccurs="0" type="NoDerivativeSecurityAltID"/>
        <xs:element name="DerivativeProduct" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeProductComplex" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivFlexProductEligibilityIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityGroup" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeCFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityType" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSettleOnOpenFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeInstrmtAssignmentMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityStatus" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeIssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeInstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeCountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeLocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikeMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeStrikeValue" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeOptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeMinPriceIncrement" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeMinPriceIncrementAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativePriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeExerciseStyle" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeOptPayAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeTimeUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeNTPositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeEncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeEncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeEncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeEncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="NoDerivativeEvents" minOccurs="0" type="NoDerivativeEvents"/>
        <xs:element name="NoDerivativeInstrumentParties" minOccurs="0" type="NoDerivativeInstrumentParties"/>
        <xs:element name="DerivativeSettlMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePriceQuoteMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeFuturesValuationMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeListMethod" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeCapPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeFloorPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativePutOrCall" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeSecurityXMLLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeSecurityXML" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityXMLSchema" minOccurs="0" type="xs:string"/>
        <xs:element name="NoDerivativeInstrAttrib" minOccurs="0" type="NoDerivativeInstrAttrib"/>
        <xs:element name="NoMarketSegments" minOccurs="0" type="NoMarketSegments"/>
        <xs:element name="ApplID" minOccurs="0" type="xs:string"/>
        <xs:element name="ApplSeqNum" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="ApplLastSeqNum" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="ApplResendFlag" minOccurs="0" type="xs:string"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoUnderlyingSecurityAltID">
    <xs:sequence>
      <xs:element name="UnderlyingSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingStips">
    <xs:sequence>
      <xs:element name="UnderlyingStip" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingStipType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStipValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentParties">
    <xs:sequence>
      <xs:element name="UndlyInstrumentPartie" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UndlyInstrumentPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="UndlyInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="UndlyInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoUndlyInstrumentPartySubIDs" minOccurs="0" type="NoUndlyInstrumentPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentPartySubIDs">
    <xs:sequence>
      <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="UndlyInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoRelatedSym">
    <xs:sequence>
      <xs:element name="RelatedSym" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Symbol" minOccurs="0" type="xs:string"/>
            <xs:element name="SymbolSfx" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="CD"/>
                  <xs:enumeration value="WI"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityIDSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="J"/>
                  <xs:enumeration value="L"/>
                  <xs:enumeration value="K"/>
                  <xs:enumeration value="M"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
            <xs:element name="Product" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="ABS"/>
                  <xs:enumeration value="AMENDED"/>
                  <xs:enumeration value="AN"/>
                  <xs:enumeration value="BA"/>
                  <xs:enumeration value="BN"/>
                  <xs:enumeration value="BOX"/>
                  <xs:enumeration value="BRADY"/>
                  <xs:enumeration value="BRIDGE"/>
                  <xs:enumeration value="BUYSELL"/>
                  <xs:enumeration value="CB"/>
                  <xs:enumeration value="CD"/>
                  <xs:enumeration value="CL"/>
                  <xs:enumeration value="CMBS"/>
                  <xs:enumeration value="CMO"/>
                  <xs:enumeration value="COFO"/>
                  <xs:enumeration value="COFP"/>
                  <xs:enumeration value="CORP"/>
                  <xs:enumeration value="CP"/>
                  <xs:enumeration value="CPP"/>
                  <xs:enumeration value="CS"/>
                  <xs:enumeration value="DEFLTED"/>
                  <xs:enumeration value="DINP"/>
                  <xs:enumeration value="DN"/>
                  <xs:enumeration value="DUAL"/>
                  <xs:enumeration value="EUCD"/>
                  <xs:enumeration value="EUCORP"/>
                  <xs:enumeration value="EUCP"/>
                  <xs:enumeration value="EUSOV"/>
                  <xs:enumeration value="EUSUPRA"/>
                  <xs:enumeration value="FAC"/>
                  <xs:enumeration value="FADN"/>
                  <xs:enumeration value="FOR"/>
                  <xs:enumeration value="FORWARD"/>
                  <xs:enumeration value="FUT"/>
                  <xs:enumeration value="GO"/>
                  <xs:enumeration value="IET"/>
                  <xs:enumeration value="LOFC"/>
                  <xs:enumeration value="LQN"/>
                  <xs:enumeration value="MATURED"/>
                  <xs:enumeration value="MBS"/>
                  <xs:enumeration value="MF"/>
                  <xs:enumeration value="MIO"/>
                  <xs:enumeration value="MLEG"/>
                  <xs:enumeration value="MPO"/>
                  <xs:enumeration value="MPP"/>
                  <xs:enumeration value="MPT"/>
                  <xs:enumeration value="MT"/>
                  <xs:enumeration value="MTN"/>
                  <xs:enumeration value="NONE"/>
                  <xs:enumeration value="ONITE"/>
                  <xs:enumeration value="OPT"/>
                  <xs:enumeration value="PEF"/>
                  <xs:enumeration value="PFAND"/>
                  <xs:enumeration value="PN"/>
                  <xs:enumeration value="PS"/>
                  <xs:enumeration value="PZFJ"/>
                  <xs:enumeration value="RAN"/>
                  <xs:enumeration value="REPLACD"/>
                  <xs:enumeration value="REPO"/>
                  <xs:enumeration value="RETIRED"/>
                  <xs:enumeration value="REV"/>
                  <xs:enumeration value="RVLV"/>
                  <xs:enumeration value="RVLVTRM"/>
                  <xs:enumeration value="SECLOAN"/>
                  <xs:enumeration value="SECPLEDGE"/>
                  <xs:enumeration value="SPCLA"/>
                  <xs:enumeration value="SPCLO"/>
                  <xs:enumeration value="SPCLT"/>
                  <xs:enumeration value="STN"/>
                  <xs:enumeration value="STRUCT"/>
                  <xs:enumeration value="SUPRA"/>
                  <xs:enumeration value="SWING"/>
                  <xs:enumeration value="TAN"/>
                  <xs:enumeration value="TAXA"/>
                  <xs:enumeration value="TBA"/>
                  <xs:enumeration value="TBILL"/>
                  <xs:enumeration value="TBOND"/>
                  <xs:enumeration value="TCAL"/>
                  <xs:enumeration value="TD"/>
                  <xs:enumeration value="TECP"/>
                  <xs:enumeration value="TERM"/>
                  <xs:enumeration value="TINT"/>
                  <xs:enumeration value="TIPS"/>
                  <xs:enumeration value="TNOTE"/>
                  <xs:enumeration value="TPRN"/>
                  <xs:enumeration value="TRAN"/>
                  <xs:enumeration value="UST"/>
                  <xs:enumeration value="USTB"/>
                  <xs:enumeration value="VRDN"/>
                  <xs:enumeration value="WAR"/>
                  <xs:enumeration value="WITHDRN"/>
                  <xs:enumeration value="?"/>
                  <xs:enumeration value="XCN"/>
                  <xs:enumeration value="XLINKD"/>
                  <xs:enumeration value="YANK"/>
                  <xs:enumeration value="YCD"/>
                  <xs:enumeration value="OOP"/>
                  <xs:enumeration value="OOF"/>
                  <xs:enumeration value="CASH"/>
                  <xs:enumeration value="OOC"/>
                  <xs:enumeration value="IRS"/>
                  <xs:enumeration value="BDN"/>
                  <xs:enumeration value="CAMM"/>
                  <xs:enumeration value="CAN"/>
                  <xs:enumeration value="CTB"/>
                  <xs:enumeration value="CDS"/>
                  <xs:enumeration value="CMB"/>
                  <xs:enumeration value="EUFRN"/>
                  <xs:enumeration value="FRN"/>
                  <xs:enumeration value="PROV"/>
                  <xs:enumeration value="SLQN"/>
                  <xs:enumeration value="TB"/>
                  <xs:enumeration value="TLQN"/>
                  <xs:enumeration value="TMCP"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="RepurchaseRate" minOccurs="0" type="xs:float"/>
            <xs:element name="Factor" minOccurs="0" type="xs:float"/>
            <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="StrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="ContractMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="CouponRate" minOccurs="0" type="xs:float"/>
            <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="Pool" minOccurs="0" type="xs:string"/>
            <xs:element name="ContractSettlMonth" minOccurs="0" type="xs:string"/>
            <xs:element name="CPProgram" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="99"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CPRegType" minOccurs="0" type="xs:string"/>
            <xs:element name="NoEvents" minOccurs="0" type="NoEvents"/>
            <xs:element name="DatedDate" minOccurs="0" type="xs:string"/>
            <xs:element name="InterestAccrualDate" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityStatus" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SettleOnOpenFlag" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrmtAssignmentMethod" minOccurs="0" type="xs:string"/>
            <xs:element name="StrikeMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="StrikeValue" minOccurs="0" type="xs:float"/>
            <xs:element name="MinPriceIncrement" minOccurs="0" type="xs:float"/>
            <xs:element name="PositionLimit" minOccurs="0" type="xs:integer"/>
            <xs:element name="NTPositionLimit" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoInstrumentParties" minOccurs="0" type="NoInstrumentParties"/>
            <xs:element name="UnitOfMeasure" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="MWh"/>
                  <xs:enumeration value="MMBtu"/>
                  <xs:enumeration value="Bbl"/>
                  <xs:enumeration value="Gal"/>
                  <xs:enumeration value="t"/>
                  <xs:enumeration value="tn"/>
                  <xs:enumeration value="MMbbl"/>
                  <xs:enumeration value="lbs"/>
                  <xs:enumeration value="oz_tr"/>
                  <xs:enumeration value="USD"/>
                  <xs:enumeration value="Bcf"/>
                  <xs:enumeration value="Bu"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="TimeUnit" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="Min"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="Wk"/>
                  <xs:enumeration value="Mo"/>
                  <xs:enumeration value="Yr"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MaturityTime" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityGroup" minOccurs="0" type="xs:string"/>
            <xs:element name="MinPriceIncrementAmount" minOccurs="0" type="xs:float"/>
            <xs:element name="UnitOfMeasureQty" minOccurs="0" type="xs:float"/>
            <xs:element name="SecurityXMLLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="SecurityXML" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityXMLSchema" minOccurs="0" type="xs:string"/>
            <xs:element name="ProductComplex" minOccurs="0" type="xs:string"/>
            <xs:element name="PriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="PriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
            <xs:element name="SettlMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="P"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ExerciseStyle" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OptPayAmount" minOccurs="0" type="xs:float"/>
            <xs:element name="PriceQuoteMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="STD"/>
                  <xs:enumeration value="INX"/>
                  <xs:enumeration value="INT"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ListMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CapPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="FloorPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="PutOrCall" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="FlexibleIndicator" minOccurs="0" type="xs:string"/>
            <xs:element name="FlexProductEligibilityIndicator" minOccurs="0" type="xs:string"/>
            <xs:element name="FuturesValuationMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="EQTY"/>
                  <xs:enumeration value="FUT"/>
                  <xs:enumeration value="FUTDA"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Currency" minOccurs="0" type="xs:string"/>
            <xs:element name="DeliveryForm" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PctAtRisk" minOccurs="0" type="xs:float"/>
            <xs:element name="NoInstrAttrib" minOccurs="0" type="NoInstrAttrib"/>
            <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
            <xs:element name="Text" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
            <xs:element name="SecondaryPriceLimitType" minOccurs="0" type="xs:integer"/>
            <xs:element name="SecondaryLowLimitPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="SecondaryHighLimitPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="SecondaryTradingReferencePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="CorporateAction" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="J"/>
                  <xs:enumeration value="K"/>
                  <xs:enumeration value="L"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="N"/>
                  <xs:enumeration value="O"/>
                  <xs:enumeration value="P"/>
                  <xs:enumeration value="Q"/>
                  <xs:enumeration value="R"/>
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="T"/>
                  <xs:enumeration value="U"/>
                  <xs:enumeration value="V"/>
                  <xs:enumeration value="W"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoEvents">
    <xs:sequence>
      <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EventType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="99"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="EventDate" minOccurs="0" type="xs:string"/>
            <xs:element name="EventPx" minOccurs="0" type="xs:float"/>
            <xs:element name="EventText" minOccurs="0" type="xs:string"/>
            <xs:element name="EventTime" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentParties">
    <xs:sequence>
      <xs:element name="InstrumentPartie" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstrumentPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoInstrumentPartySubIDs" minOccurs="0" type="NoInstrumentPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentPartySubIDs">
    <xs:sequence>
      <xs:element name="InstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstrumentPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrAttrib">
    <xs:sequence>
      <xs:element name="InstrAttrib" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstrAttribType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="20"/>
                  <xs:enumeration value="21"/>
                  <xs:enumeration value="22"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="99"/>
                  <xs:enumeration value="23"/>
                  <xs:enumeration value="24"/>
                  <xs:enumeration value="25"/>
                  <xs:enumeration value="26"/>
                  <xs:enumeration value="27"/>
                  <xs:enumeration value="28"/>
                  <xs:enumeration value="29"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="InstrAttribValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:float"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:float"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPool" minOccurs="0" type="xs:string"/>
            <xs:element name="LegDatedDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractSettlMonth" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInterestAccrualDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="LegTimeUnit" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptionRatio" minOccurs="0" type="xs:float"/>
            <xs:element name="LegPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="LegMaturityTime" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPutOrCall" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegExerciseStyle" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
            <xs:element name="LegPriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeSecurityAltID">
    <xs:sequence>
      <xs:element name="DerivativeSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DerivativeSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeEvents">
    <xs:sequence>
      <xs:element name="DerivativeEvent" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DerivativeEventType" minOccurs="0" type="xs:integer"/>
            <xs:element name="DerivativeEventDate" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeEventTime" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeEventPx" minOccurs="0" type="xs:float"/>
            <xs:element name="DerivativeEventText" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeInstrumentParties">
    <xs:sequence>
      <xs:element name="DerivativeInstrumentPartie" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DerivativeInstrumentPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoDerivativeInstrumentPartySubIDs" minOccurs="0" type="NoDerivativeInstrumentPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeInstrumentPartySubIDs">
    <xs:sequence>
      <xs:element name="DerivativeInstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DerivativeInstrumentPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="DerivativeInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeInstrAttrib">
    <xs:sequence>
      <xs:element name="DerivativeInstrAttrib" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DerivativeInstrAttribType" minOccurs="0" type="xs:integer"/>
            <xs:element name="DerivativeInstrAttribValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMarketSegments">
    <xs:sequence>
      <xs:element name="MarketSegment" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MarketID" minOccurs="0" type="xs:string"/>
            <xs:element name="MarketSegmentID" minOccurs="0" type="xs:string"/>
            <xs:element name="NoTickRules" minOccurs="0" type="NoTickRules"/>
            <xs:element name="NoLotTypeRules" minOccurs="0" type="NoLotTypeRules"/>
            <xs:element name="PriceLimitType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="LowLimitPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="HighLimitPrice" minOccurs="0" type="xs:float"/>
            <xs:element name="TradingReferencePrice" minOccurs="0" type="xs:float"/>
            <xs:element name="ExpirationCycle" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MinTradeVol" minOccurs="0" type="xs:float"/>
            <xs:element name="MaxTradeVol" minOccurs="0" type="xs:float"/>
            <xs:element name="MaxPriceVariation" minOccurs="0" type="xs:float"/>
            <xs:element name="ImpliedMarketIndicator" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="TradingCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="RoundLot" minOccurs="0" type="xs:float"/>
            <xs:element name="MultilegModel" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MultilegPriceMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PriceType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoTradingSessionRules" minOccurs="0" type="NoTradingSessionRules"/>
            <xs:element name="NoNestedInstrAttrib" minOccurs="0" type="NoNestedInstrAttrib"/>
            <xs:element name="NoStrikeRules" minOccurs="0" type="NoStrikeRules"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTickRules">
    <xs:sequence>
      <xs:element name="TickRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartTickPriceRange" minOccurs="0" type="xs:float"/>
            <xs:element name="EndTickPriceRange" minOccurs="0" type="xs:float"/>
            <xs:element name="TickIncrement" minOccurs="0" type="xs:float"/>
            <xs:element name="TickRuleType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLotTypeRules">
    <xs:sequence>
      <xs:element name="LotTypeRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LotType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MinLotSize" minOccurs="0" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTradingSessionRules">
    <xs:sequence>
      <xs:element name="TradingSessionRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TradingSessionID" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="TradingSessionSubID" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoOrdTypeRules" minOccurs="0" type="NoOrdTypeRules"/>
            <xs:element name="NoTimeInForceRules" minOccurs="0" type="NoTimeInForceRules"/>
            <xs:element name="NoExecInstRules" minOccurs="0" type="NoExecInstRules"/>
            <xs:element name="NoMatchRules" minOccurs="0" type="NoMatchRules"/>
            <xs:element name="NoMDFeedTypes" minOccurs="0" type="NoMDFeedTypes"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoOrdTypeRules">
    <xs:sequence>
      <xs:element name="OrdTypeRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OrdType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="J"/>
                  <xs:enumeration value="K"/>
                  <xs:enumeration value="L"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="P"/>
                  <xs:enumeration value="Q"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTimeInForceRules">
    <xs:sequence>
      <xs:element name="TimeInForceRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TimeInForce" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoExecInstRules">
    <xs:sequence>
      <xs:element name="ExecInstRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExecInstValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMatchRules">
    <xs:sequence>
      <xs:element name="MatchRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MatchAlgorithm" minOccurs="0" type="xs:string"/>
            <xs:element name="MatchType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="A1"/>
                  <xs:enumeration value="A2"/>
                  <xs:enumeration value="A3"/>
                  <xs:enumeration value="A4"/>
                  <xs:enumeration value="A5"/>
                  <xs:enumeration value="M3"/>
                  <xs:enumeration value="M4"/>
                  <xs:enumeration value="M5"/>
                  <xs:enumeration value="M6"/>
                  <xs:enumeration value="AQ"/>
                  <xs:enumeration value="M1"/>
                  <xs:enumeration value="M2"/>
                  <xs:enumeration value="MT"/>
                  <xs:enumeration value="S1"/>
                  <xs:enumeration value="S2"/>
                  <xs:enumeration value="S3"/>
                  <xs:enumeration value="S4"/>
                  <xs:enumeration value="S5"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMDFeedTypes">
    <xs:sequence>
      <xs:element name="MDFeedType" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MDFeedType" minOccurs="0" type="xs:string"/>
            <xs:element name="MarketDepth" minOccurs="0" type="xs:integer"/>
            <xs:element name="MDBookType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedInstrAttrib">
    <xs:sequence>
      <xs:element name="NestedInstrAttrib" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedInstrAttribType" minOccurs="0" type="xs:integer"/>
            <xs:element name="NestedInstrAttribValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoStrikeRules">
    <xs:sequence>
      <xs:element name="StrikeRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StrikeRuleID" minOccurs="0" type="xs:string"/>
            <xs:element name="StartStrikePxRange" minOccurs="0" type="xs:float"/>
            <xs:element name="EndStrikePxRange" minOccurs="0" type="xs:float"/>
            <xs:element name="StrikeIncrement" minOccurs="0" type="xs:float"/>
            <xs:element name="StrikeExerciseStyle" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoMaturityRules" minOccurs="0" type="NoMaturityRules"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMaturityRules">
    <xs:sequence>
      <xs:element name="MaturityRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MaturityRuleID" minOccurs="0" type="xs:string"/>
            <xs:element name="MaturityMonthYearFormat" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MaturityMonthYearIncrementUnits" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="StartMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="EndMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="MaturityMonthYearIncrement" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
