spec/schema/FIX50SP1/DerivativeSecurityListRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DerivativeSecurityListRequest">
    <xs:attribute name="beginString" type="xs:string"/>
    <xs:attribute name="msgType" type="xs:string"/>
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="SecurityReqID" type="xs:string"/>
        <xs:element name="SecurityListRequestType">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingSymbol" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="NoUnderlyingSecurityAltID" minOccurs="0" type="NoUnderlyingSecurityAltID"/>
        <xs:element name="UnderlyingProduct" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingCFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingMaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingMaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingIssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingRepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingRepurchaseRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFactor" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingInstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingLocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingRedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingStrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingStrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingOptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCouponRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingSecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedUnderlyingIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedUnderlyingIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedUnderlyingSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedUnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCPProgram" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingQty" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingPx" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingDirtyPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingEndPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingStartValue" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCurrentValue" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingEndValue" minOccurs="0" type="xs:float"/>
        <xs:element name="NoUnderlyingStips" minOccurs="0" type="NoUnderlyingStips"/>
        <xs:element name="UnderlyingAllocationPercent" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingSettlementType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="2"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingCashAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingCashType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FIXED"/>
              <xs:enumeration value="DIFF"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingTimeUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingCapValue" minOccurs="0" type="xs:float"/>
        <xs:element name="NoUndlyInstrumentParties" minOccurs="0" type="NoUndlyInstrumentParties"/>
        <xs:element name="UnderlyingSettlMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingAdjustedQuantity" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFXRate" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingFXRateCalc" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="M"/>
              <xs:enumeration value="D"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="UnderlyingMaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingPutOrCall" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingExerciseStyle" minOccurs="0" type="xs:integer"/>
        <xs:element name="UnderlyingUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="UnderlyingPriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="UnderlyingPriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="TradingSessionID" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradingSessionSubID" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SubscriptionRequestType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MarketID" minOccurs="0" type="xs:string"/>
        <xs:element name="MarketSegmentID" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSymbol" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="NoDerivativeSecurityAltID" minOccurs="0" type="NoDerivativeSecurityAltID"/>
        <xs:element name="DerivativeProduct" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeProductComplex" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivFlexProductEligibilityIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityGroup" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeCFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityType" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeMaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSettleOnOpenFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeInstrmtAssignmentMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityStatus" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeIssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeInstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeCountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeLocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeStrikeMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeStrikeValue" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeOptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeContractMultiplier" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeMinPriceIncrement" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeMinPriceIncrementAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativePriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePriceUnitOfMeasureQty" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeExerciseStyle" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeOptPayAmount" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeTimeUnit" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeNTPositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeEncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeEncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeEncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeEncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="NoDerivativeEvents" minOccurs="0" type="NoDerivativeEvents"/>
        <xs:element name="NoDerivativeInstrumentParties" minOccurs="0" type="NoDerivativeInstrumentParties"/>
        <xs:element name="DerivativeSettlMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativePriceQuoteMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeFuturesValuationMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeListMethod" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeCapPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativeFloorPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="DerivativePutOrCall" minOccurs="0" type="xs:integer"/>
        <xs:element name="DerivativeSecurityXMLLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="DerivativeSecurityXML" minOccurs="0" type="xs:string"/>
        <xs:element name="DerivativeSecurityXMLSchema" minOccurs="0" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoUnderlyingSecurityAltID">
    <xs:element name="UnderlyingSecurityAltID" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="UnderlyingSecurityAltID" minOccurs="0" type="xs:string"/>
          <xs:element name="UnderlyingSecurityAltIDSource" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingStips">
    <xs:element name="UnderlyingStip" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="UnderlyingStipType" minOccurs="0" type="xs:string"/>
          <xs:element name="UnderlyingStipValue" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentParties">
    <xs:element name="UndlyInstrumentPartie" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="UndlyInstrumentPartyID" minOccurs="0" type="xs:string"/>
          <xs:element name="UndlyInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
          <xs:element name="UndlyInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
          <xs:element name="NoUndlyInstrumentPartySubIDs" minOccurs="0" type="NoUndlyInstrumentPartySubIDs"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentPartySubIDs">
    <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" type="xs:string"/>
          <xs:element name="UndlyInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeSecurityAltID">
    <xs:element name="DerivativeSecurityAltID" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="DerivativeSecurityAltID" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeSecurityAltIDSource" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeEvents">
    <xs:element name="DerivativeEvent" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="DerivativeEventType" minOccurs="0" type="xs:integer"/>
          <xs:element name="DerivativeEventDate" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeEventTime" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeEventPx" minOccurs="0" type="xs:float"/>
          <xs:element name="DerivativeEventText" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeInstrumentParties">
    <xs:element name="DerivativeInstrumentPartie" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="DerivativeInstrumentPartyID" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
          <xs:element name="NoDerivativeInstrumentPartySubIDs" minOccurs="0" type="NoDerivativeInstrumentPartySubIDs"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoDerivativeInstrumentPartySubIDs">
    <xs:element name="DerivativeInstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="DerivativeInstrumentPartySubID" minOccurs="0" type="xs:string"/>
          <xs:element name="DerivativeInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
