spec/schema/FIX50SP1/MarketDefinitionUpdateReport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MarketDefinitionUpdateReport">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="MarketReportID" type="xs:string"/>
        <xs:element name="MarketReqID" minOccurs="0" type="xs:string"/>
        <xs:element name="MarketUpdateAction" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="M"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MarketID" type="xs:string"/>
        <xs:element name="MarketSegmentID" minOccurs="0" type="xs:string"/>
        <xs:element name="MarketSegmentDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedMktSegmDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedMktSegmDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="ParentMktSegmID" minOccurs="0" type="xs:string"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="NoTickRules" minOccurs="0" type="NoTickRules"/>
        <xs:element name="NoLotTypeRules" minOccurs="0" type="NoLotTypeRules"/>
        <xs:element name="PriceLimitType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LowLimitPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="HighLimitPrice" minOccurs="0" type="xs:float"/>
        <xs:element name="TradingReferencePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="ExpirationCycle" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MinTradeVol" minOccurs="0" type="xs:float"/>
        <xs:element name="MaxTradeVol" minOccurs="0" type="xs:float"/>
        <xs:element name="MaxPriceVariation" minOccurs="0" type="xs:float"/>
        <xs:element name="ImpliedMarketIndicator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradingCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="RoundLot" minOccurs="0" type="xs:float"/>
        <xs:element name="MultilegModel" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MultilegPriceMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="13"/>
              <xs:enumeration value="14"/>
              <xs:enumeration value="15"/>
              <xs:enumeration value="16"/>
              <xs:enumeration value="17"/>
              <xs:enumeration value="18"/>
              <xs:enumeration value="19"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoOrdTypeRules" minOccurs="0" type="NoOrdTypeRules"/>
        <xs:element name="NoTimeInForceRules" minOccurs="0" type="NoTimeInForceRules"/>
        <xs:element name="NoExecInstRules" minOccurs="0" type="NoExecInstRules"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="ApplID" minOccurs="0" type="xs:string"/>
        <xs:element name="ApplSeqNum" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="ApplLastSeqNum" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="ApplResendFlag" minOccurs="0" type="xs:string"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoTickRules">
    <xs:sequence>
      <xs:element name="TickRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartTickPriceRange" minOccurs="0" type="xs:float"/>
            <xs:element name="EndTickPriceRange" minOccurs="0" type="xs:float"/>
            <xs:element name="TickIncrement" minOccurs="0" type="xs:float"/>
            <xs:element name="TickRuleType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLotTypeRules">
    <xs:sequence>
      <xs:element name="LotTypeRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LotType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="MinLotSize" minOccurs="0" type="xs:float"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoOrdTypeRules">
    <xs:sequence>
      <xs:element name="OrdTypeRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OrdType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="I"/>
                  <xs:enumeration value="J"/>
                  <xs:enumeration value="K"/>
                  <xs:enumeration value="L"/>
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="P"/>
                  <xs:enumeration value="Q"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTimeInForceRules">
    <xs:sequence>
      <xs:element name="TimeInForceRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TimeInForce" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoExecInstRules">
    <xs:sequence>
      <xs:element name="ExecInstRule" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExecInstValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
