spec/schema/FIX50SP2/Quote.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Quote">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="QuoteReqID" minOccurs="0" type="xs:string"/>
        <xs:element name="QuoteID" type="xs:string"/>
        <xs:element name="QuoteRespID" minOccurs="0" type="xs:string"/>
        <xs:element name="QuoteType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoQuoteQualifiers" minOccurs="0" type="NoQuoteQualifiers"/>
        <xs:element name="QuoteResponseLevel" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoPartyIDs" minOccurs="0" type="NoPartyIDs"/>
        <xs:element name="TradingSessionID" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradingSessionSubID" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Symbol" minOccurs="0" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CD"/>
              <xs:enumeration value="WI"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="M"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
              <xs:enumeration value="13"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="BUYSELL"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DN"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="EUCD"/>
              <xs:enumeration value="EUCORP"/>
              <xs:enumeration value="EUCP"/>
              <xs:enumeration value="EUSOV"/>
              <xs:enumeration value="EUSUPRA"/>
              <xs:enumeration value="FAC"/>
              <xs:enumeration value="FADN"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="FORWARD"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="PEF"/>
              <xs:enumeration value="PFAND"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="REPO"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="SECLOAN"/>
              <xs:enumeration value="SECPLEDGE"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="SUPRA"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TBA"/>
              <xs:enumeration value="TBILL"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TNOTE"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="UST"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="?"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="YCD"/>
              <xs:enumeration value="OOP"/>
              <xs:enumeration value="OOF"/>
              <xs:enumeration value="CASH"/>
              <xs:enumeration value="OOC"/>
              <xs:enumeration value="IRS"/>
              <xs:enumeration value="BDN"/>
              <xs:enumeration value="CAMM"/>
              <xs:enumeration value="CAN"/>
              <xs:enumeration value="CTB"/>
              <xs:enumeration value="CDS"/>
              <xs:enumeration value="CMB"/>
              <xs:enumeration value="EUFRN"/>
              <xs:enumeration value="FRN"/>
              <xs:enumeration value="PROV"/>
              <xs:enumeration value="SLQN"/>
              <xs:enumeration value="TB"/>
              <xs:enumeration value="TLQN"/>
              <xs:enumeration value="TMCP"/>
              <xs:enumeration value="FXNDF"/>
              <xs:enumeration value="FXSPOT"/>
              <xs:enumeration value="FXFWD"/>
              <xs:enumeration value="FXSWAP"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="Factor" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="StrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Pool" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="CPProgram" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="NoEvents" minOccurs="0" type="NoEvents"/>
        <xs:element name="DatedDate" minOccurs="0" type="xs:string"/>
        <xs:element name="InterestAccrualDate" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettleOnOpenFlag" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrmtAssignmentMethod" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikeMultiplier" minOccurs="0" type="xs:decimal"/>
        <xs:element name="StrikeValue" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MinPriceIncrement" minOccurs="0" type="xs:decimal"/>
        <xs:element name="PositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="NTPositionLimit" minOccurs="0" type="xs:integer"/>
        <xs:element name="NoInstrumentParties" minOccurs="0" type="NoInstrumentParties"/>
        <xs:element name="UnitOfMeasure" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="MWh"/>
              <xs:enumeration value="MMBtu"/>
              <xs:enumeration value="Bbl"/>
              <xs:enumeration value="Gal"/>
              <xs:enumeration value="t"/>
              <xs:enumeration value="tn"/>
              <xs:enumeration value="MMbbl"/>
              <xs:enumeration value="lbs"/>
              <xs:enumeration value="oz_tr"/>
              <xs:enumeration value="USD"/>
              <xs:enumeration value="Bcf"/>
              <xs:enumeration value="Bu"/>
              <xs:enumeration value="Alw"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TimeUnit" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="S"/>
              <xs:enumeration value="Min"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="Wk"/>
              <xs:enumeration value="Mo"/>
              <xs:enumeration value="Yr"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityTime" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityGroup" minOccurs="0" type="xs:string"/>
        <xs:element name="MinPriceIncrementAmount" minOccurs="0" type="xs:decimal"/>
        <xs:element name="UnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SecurityXMLLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="SecurityXML" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityXMLSchema" minOccurs="0" type="xs:string"/>
        <xs:element name="ProductComplex" minOccurs="0" type="xs:string"/>
        <xs:element name="PriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
        <xs:element name="PriceUnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SettlMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="C"/>
              <xs:enumeration value="P"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExerciseStyle" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OptPayoutAmount" minOccurs="0" type="xs:decimal"/>
        <xs:element name="PriceQuoteMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="STD"/>
              <xs:enumeration value="INX"/>
              <xs:enumeration value="INT"/>
              <xs:enumeration value="PCTPAR"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ListMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CapPrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="FloorPrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="PutOrCall" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FlexibleIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="FlexProductEligibilityIndicator" minOccurs="0" type="xs:string"/>
        <xs:element name="ValuationMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EQTY"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="FUTDA"/>
              <xs:enumeration value="CDS"/>
              <xs:enumeration value="CDSD"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ContractMultiplierUnit" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FlowScheduleType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RestructuringType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FR"/>
              <xs:enumeration value="MR"/>
              <xs:enumeration value="MM"/>
              <xs:enumeration value="XR"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Seniority" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="SD"/>
              <xs:enumeration value="SR"/>
              <xs:enumeration value="SB"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NotionalPercentageOutstanding" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OriginalNotionalPercentageOutstanding" minOccurs="0" type="xs:decimal"/>
        <xs:element name="AttachmentPoint" minOccurs="0" type="xs:decimal"/>
        <xs:element name="DetachmentPoint" minOccurs="0" type="xs:decimal"/>
        <xs:element name="StrikePriceDeterminationMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StrikePriceBoundaryMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StrikePriceBoundaryPrecision" minOccurs="0" type="xs:decimal"/>
        <xs:element name="UnderlyingPriceDeterminationMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OptPayoutType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoComplexEvents" minOccurs="0" type="NoComplexEvents"/>
        <xs:element name="AgreementDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementID" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementDate" minOccurs="0" type="xs:string"/>
        <xs:element name="AgreementCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="TerminationType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StartDate" minOccurs="0" type="xs:string"/>
        <xs:element name="EndDate" minOccurs="0" type="xs:string"/>
        <xs:element name="DeliveryType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MarginRatio" minOccurs="0" type="xs:decimal"/>
        <xs:element name="NoUnderlyings" minOccurs="0" type="NoUnderlyings"/>
        <xs:element name="Side" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CashOrderQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OrderPercent" minOccurs="0" type="xs:decimal"/>
        <xs:element name="RoundingDirection" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RoundingModulus" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SettlType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="B"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlDate" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlDate2" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderQty2" minOccurs="0" type="xs:decimal"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="NoStipulations" minOccurs="0" type="NoStipulations"/>
        <xs:element name="Account" minOccurs="0" type="xs:string"/>
        <xs:element name="AcctIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AccountType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="BidPx" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferPx" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MktBidPx" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MktOfferPx" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MinBidSize" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BidSize" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MinOfferSize" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferSize" minOccurs="0" type="xs:decimal"/>
        <xs:element name="ValidUntilTime" minOccurs="0" type="xs:string"/>
        <xs:element name="BidSpotRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferSpotRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BidForwardPoints" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferForwardPoints" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MidPx" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BidYield" minOccurs="0" type="xs:decimal"/>
        <xs:element name="MidYield" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferYield" minOccurs="0" type="xs:decimal"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="OrdType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
              <xs:enumeration value="K"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="Q"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BidForwardPoints2" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferForwardPoints2" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SettlCurrBidFxRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SettlCurrOfferFxRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SettlCurrFxRateCalc" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="M"/>
              <xs:enumeration value="D"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CommType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Commission" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CustOrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ExDestination" minOccurs="0" type="xs:string"/>
        <xs:element name="OrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="W"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PriceType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="13"/>
              <xs:enumeration value="14"/>
              <xs:enumeration value="15"/>
              <xs:enumeration value="16"/>
              <xs:enumeration value="17"/>
              <xs:enumeration value="18"/>
              <xs:enumeration value="19"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Spread" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BenchmarkCurveCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkCurveName" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EONIA"/>
              <xs:enumeration value="EUREPO"/>
              <xs:enumeration value="Euribor"/>
              <xs:enumeration value="FutureSWAP"/>
              <xs:enumeration value="LIBID"/>
              <xs:enumeration value="LIBOR"/>
              <xs:enumeration value="MuniAAA"/>
              <xs:enumeration value="OTHER"/>
              <xs:enumeration value="Pfandbriefe"/>
              <xs:enumeration value="SONIA"/>
              <xs:enumeration value="SWAP"/>
              <xs:enumeration value="Treasury"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BenchmarkCurvePoint" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkPrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BenchmarkPriceType" minOccurs="0" type="xs:integer"/>
        <xs:element name="BenchmarkSecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="BenchmarkSecurityIDSource" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="AFTERTAX"/>
              <xs:enumeration value="ANNUAL"/>
              <xs:enumeration value="ATISSUE"/>
              <xs:enumeration value="AVGMATURITY"/>
              <xs:enumeration value="BOOK"/>
              <xs:enumeration value="CALL"/>
              <xs:enumeration value="CHANGE"/>
              <xs:enumeration value="CLOSE"/>
              <xs:enumeration value="COMPOUND"/>
              <xs:enumeration value="CURRENT"/>
              <xs:enumeration value="GOVTEQUIV"/>
              <xs:enumeration value="GROSS"/>
              <xs:enumeration value="INFLATION"/>
              <xs:enumeration value="INVERSEFLOATER"/>
              <xs:enumeration value="LASTCLOSE"/>
              <xs:enumeration value="LASTMONTH"/>
              <xs:enumeration value="LASTQUARTER"/>
              <xs:enumeration value="LASTYEAR"/>
              <xs:enumeration value="LONGAVGLIFE"/>
              <xs:enumeration value="MARK"/>
              <xs:enumeration value="MATURITY"/>
              <xs:enumeration value="NEXTREFUND"/>
              <xs:enumeration value="OPENAVG"/>
              <xs:enumeration value="PREVCLOSE"/>
              <xs:enumeration value="PROCEEDS"/>
              <xs:enumeration value="PUT"/>
              <xs:enumeration value="SEMIANNUAL"/>
              <xs:enumeration value="SHORTAVGLIFE"/>
              <xs:enumeration value="SIMPLE"/>
              <xs:enumeration value="TAXEQUIV"/>
              <xs:enumeration value="TENDER"/>
              <xs:enumeration value="TRUE"/>
              <xs:enumeration value="VALUE1_32"/>
              <xs:enumeration value="WORST"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Yield" minOccurs="0" type="xs:decimal"/>
        <xs:element name="YieldCalcDate" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldRedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="YieldRedemptionPrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="YieldRedemptionPriceType" minOccurs="0" type="xs:integer"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="BidSwapPoints" minOccurs="0" type="xs:decimal"/>
        <xs:element name="OfferSwapPoints" minOccurs="0" type="xs:decimal"/>
        <xs:element name="ExDestinationIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="G"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="QuoteMsgID" minOccurs="0" type="xs:string"/>
        <xs:element name="PrivateQuote" minOccurs="0" type="xs:string"/>
        <xs:element name="MinQty" minOccurs="0" type="xs:decimal"/>
        <xs:element name="BookingType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderRestrictions" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SettlCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="NoRateSources" minOccurs="0" type="NoRateSources"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoQuoteQualifiers">
    <xs:sequence>
      <xs:element name="QuoteQualifier" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="QuoteQualifier" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartyIDs">
    <xs:sequence>
      <xs:element name="PartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartyIDSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="A"/>
                  <xs:enumeration value="B"/>
                  <xs:enumeration value="C"/>
                  <xs:enumeration value="D"/>
                  <xs:enumeration value="E"/>
                  <xs:enumeration value="F"/>
                  <xs:enumeration value="G"/>
                  <xs:enumeration value="H"/>
                  <xs:enumeration value="I"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PartyRole" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="20"/>
                  <xs:enumeration value="21"/>
                  <xs:enumeration value="22"/>
                  <xs:enumeration value="24"/>
                  <xs:enumeration value="25"/>
                  <xs:enumeration value="26"/>
                  <xs:enumeration value="27"/>
                  <xs:enumeration value="28"/>
                  <xs:enumeration value="29"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="30"/>
                  <xs:enumeration value="31"/>
                  <xs:enumeration value="32"/>
                  <xs:enumeration value="33"/>
                  <xs:enumeration value="34"/>
                  <xs:enumeration value="35"/>
                  <xs:enumeration value="36"/>
                  <xs:enumeration value="37"/>
                  <xs:enumeration value="38"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="60"/>
                  <xs:enumeration value="41"/>
                  <xs:enumeration value="42"/>
                  <xs:enumeration value="43"/>
                  <xs:enumeration value="44"/>
                  <xs:enumeration value="45"/>
                  <xs:enumeration value="46"/>
                  <xs:enumeration value="47"/>
                  <xs:enumeration value="48"/>
                  <xs:enumeration value="49"/>
                  <xs:enumeration value="50"/>
                  <xs:enumeration value="51"/>
                  <xs:enumeration value="52"/>
                  <xs:enumeration value="53"/>
                  <xs:enumeration value="54"/>
                  <xs:enumeration value="55"/>
                  <xs:enumeration value="56"/>
                  <xs:enumeration value="57"/>
                  <xs:enumeration value="58"/>
                  <xs:enumeration value="59"/>
                  <xs:enumeration value="39"/>
                  <xs:enumeration value="40"/>
                  <xs:enumeration value="61"/>
                  <xs:enumeration value="62"/>
                  <xs:enumeration value="63"/>
                  <xs:enumeration value="64"/>
                  <xs:enumeration value="65"/>
                  <xs:enumeration value="66"/>
                  <xs:enumeration value="67"/>
                  <xs:enumeration value="68"/>
                  <xs:enumeration value="69"/>
                  <xs:enumeration value="70"/>
                  <xs:enumeration value="71"/>
                  <xs:enumeration value="72"/>
                  <xs:enumeration value="73"/>
                  <xs:enumeration value="74"/>
                  <xs:enumeration value="75"/>
                  <xs:enumeration value="76"/>
                  <xs:enumeration value="77"/>
                  <xs:enumeration value="78"/>
                  <xs:enumeration value="79"/>
                  <xs:enumeration value="80"/>
                  <xs:enumeration value="81"/>
                  <xs:enumeration value="82"/>
                  <xs:enumeration value="83"/>
                  <xs:enumeration value="84"/>
                  <xs:enumeration value="85"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoPartySubIDs" minOccurs="0" type="NoPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoPartySubIDs">
    <xs:sequence>
      <xs:element name="PartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="PartySubIDType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="20"/>
                  <xs:enumeration value="21"/>
                  <xs:enumeration value="22"/>
                  <xs:enumeration value="23"/>
                  <xs:enumeration value="24"/>
                  <xs:enumeration value="25"/>
                  <xs:enumeration value="26"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="27"/>
                  <xs:enumeration value="28"/>
                  <xs:enumeration value="29"/>
                  <xs:enumeration value="30"/>
                  <xs:enumeration value="31"/>
                  <xs:enumeration value="32"/>
                  <xs:enumeration value="33"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoEvents">
    <xs:sequence>
      <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EventType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="99"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                  <xs:enumeration value="11"/>
                  <xs:enumeration value="10"/>
                  <xs:enumeration value="12"/>
                  <xs:enumeration value="13"/>
                  <xs:enumeration value="14"/>
                  <xs:enumeration value="15"/>
                  <xs:enumeration value="16"/>
                  <xs:enumeration value="17"/>
                  <xs:enumeration value="18"/>
                  <xs:enumeration value="19"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="EventDate" minOccurs="0" type="xs:string"/>
            <xs:element name="EventPx" minOccurs="0" type="xs:decimal"/>
            <xs:element name="EventText" minOccurs="0" type="xs:string"/>
            <xs:element name="EventTime" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentParties">
    <xs:sequence>
      <xs:element name="InstrumentPartie" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstrumentPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoInstrumentPartySubIDs" minOccurs="0" type="NoInstrumentPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoInstrumentPartySubIDs">
    <xs:sequence>
      <xs:element name="InstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InstrumentPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="InstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoComplexEvents">
    <xs:sequence>
      <xs:element name="ComplexEvent" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexEventType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                  <xs:enumeration value="6"/>
                  <xs:enumeration value="7"/>
                  <xs:enumeration value="8"/>
                  <xs:enumeration value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ComplexOptPayoutAmount" minOccurs="0" type="xs:decimal"/>
            <xs:element name="ComplexEventPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="ComplexEventPriceBoundaryMethod" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ComplexEventPriceBoundaryPrecision" minOccurs="0" type="xs:decimal"/>
            <xs:element name="ComplexEventPriceTimeType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ComplexEventCondition" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoComplexEventDates" minOccurs="0" type="NoComplexEventDates"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoComplexEventDates">
    <xs:sequence>
      <xs:element name="ComplexEventDate" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexEventStartDate" minOccurs="0" type="xs:string"/>
            <xs:element name="ComplexEventEndDate" minOccurs="0" type="xs:string"/>
            <xs:element name="NoComplexEventTimes" minOccurs="0" type="NoComplexEventTimes"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoComplexEventTimes">
    <xs:sequence>
      <xs:element name="ComplexEventTime" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexEventStartTime" minOccurs="0" type="xs:string"/>
            <xs:element name="ComplexEventEndTime" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyings">
    <xs:sequence>
      <xs:element name="Underlying" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoUnderlyingSecurityAltID" minOccurs="0" type="NoUnderlyingSecurityAltID"/>
            <xs:element name="UnderlyingProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingRepurchaseRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingFactor" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStrikePrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingContractMultiplier" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingCouponRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedUnderlyingIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedUnderlyingIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedUnderlyingSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedUnderlyingSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCPProgram" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCPRegType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingPx" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingDirtyPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingEndPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingStartValue" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingCurrentValue" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingEndValue" minOccurs="0" type="xs:decimal"/>
            <xs:element name="NoUnderlyingStips" minOccurs="0" type="NoUnderlyingStips"/>
            <xs:element name="UnderlyingAllocationPercent" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingSettlementType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="UnderlyingCashAmount" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingCashType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="FIXED"/>
                  <xs:enumeration value="DIFF"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="UnderlyingUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingTimeUnit" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingCapValue" minOccurs="0" type="xs:decimal"/>
            <xs:element name="NoUndlyInstrumentParties" minOccurs="0" type="NoUndlyInstrumentParties"/>
            <xs:element name="UnderlyingSettlMethod" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingAdjustedQuantity" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingFXRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingFXRateCalc" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="M"/>
                  <xs:enumeration value="D"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="UnderlyingMaturityTime" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingPutOrCall" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingExerciseStyle" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingUnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingPriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingPriceUnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingContractMultiplierUnit" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingFlowScheduleType" minOccurs="0" type="xs:integer"/>
            <xs:element name="UnderlyingRestructuringType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSeniority" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingNotionalPercentageOutstanding" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingOriginalNotionalPercentageOutstanding" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingAttachmentPoint" minOccurs="0" type="xs:decimal"/>
            <xs:element name="UnderlyingDetachmentPoint" minOccurs="0" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingSecurityAltID">
    <xs:sequence>
      <xs:element name="UnderlyingSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUnderlyingStips">
    <xs:sequence>
      <xs:element name="UnderlyingStip" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingStipType" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingStipValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentParties">
    <xs:sequence>
      <xs:element name="UndlyInstrumentPartie" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingInstrumentPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingInstrumentPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingInstrumentPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoUndlyInstrumentPartySubIDs" minOccurs="0" type="NoUndlyInstrumentPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoUndlyInstrumentPartySubIDs">
    <xs:sequence>
      <xs:element name="UndlyInstrumentPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UnderlyingInstrumentPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="UnderlyingInstrumentPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoStipulations">
    <xs:sequence>
      <xs:element name="Stipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StipulationType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="ABS"/>
                  <xs:enumeration value="AMT"/>
                  <xs:enumeration value="AUTOREINV"/>
                  <xs:enumeration value="BANKQUAL"/>
                  <xs:enumeration value="BGNCON"/>
                  <xs:enumeration value="COUPON"/>
                  <xs:enumeration value="CPP"/>
                  <xs:enumeration value="CPR"/>
                  <xs:enumeration value="CPY"/>
                  <xs:enumeration value="CURRENCY"/>
                  <xs:enumeration value="CUSTOMDATE"/>
                  <xs:enumeration value="GEOG"/>
                  <xs:enumeration value="HAIRCUT"/>
                  <xs:enumeration value="HEP"/>
                  <xs:enumeration value="INSURED"/>
                  <xs:enumeration value="ISSUE"/>
                  <xs:enumeration value="ISSUER"/>
                  <xs:enumeration value="ISSUESIZE"/>
                  <xs:enumeration value="LOOKBACK"/>
                  <xs:enumeration value="LOT"/>
                  <xs:enumeration value="LOTVAR"/>
                  <xs:enumeration value="MAT"/>
                  <xs:enumeration value="MATURITY"/>
                  <xs:enumeration value="MAXSUBS"/>
                  <xs:enumeration value="MHP"/>
                  <xs:enumeration value="MINDNOM"/>
                  <xs:enumeration value="MININCR"/>
                  <xs:enumeration value="MINQTY"/>
                  <xs:enumeration value="MPR"/>
                  <xs:enumeration value="PAYFREQ"/>
                  <xs:enumeration value="PIECES"/>
                  <xs:enumeration value="PMAX"/>
                  <xs:enumeration value="PPC"/>
                  <xs:enumeration value="PPL"/>
                  <xs:enumeration value="PPM"/>
                  <xs:enumeration value="PPT"/>
                  <xs:enumeration value="PRICE"/>
                  <xs:enumeration value="PRICEFREQ"/>
                  <xs:enumeration value="PROD"/>
                  <xs:enumeration value="PROTECT"/>
                  <xs:enumeration value="PSA"/>
                  <xs:enumeration value="PURPOSE"/>
                  <xs:enumeration value="PXSOURCE"/>
                  <xs:enumeration value="RATING"/>
                  <xs:enumeration value="REDEMPTION"/>
                  <xs:enumeration value="RESTRICTED"/>
                  <xs:enumeration value="SECTOR"/>
                  <xs:enumeration value="SECTYPE"/>
                  <xs:enumeration value="SMM"/>
                  <xs:enumeration value="STRUCT"/>
                  <xs:enumeration value="SUBSFREQ"/>
                  <xs:enumeration value="SUBSLEFT"/>
                  <xs:enumeration value="TEXT"/>
                  <xs:enumeration value="TRDVAR"/>
                  <xs:enumeration value="WAC"/>
                  <xs:enumeration value="WAL"/>
                  <xs:enumeration value="WALA"/>
                  <xs:enumeration value="WAM"/>
                  <xs:enumeration value="WHOLE"/>
                  <xs:enumeration value="YIELD"/>
                  <xs:enumeration value="AVFICO"/>
                  <xs:enumeration value="AVSIZE"/>
                  <xs:enumeration value="MAXBAL"/>
                  <xs:enumeration value="POOL"/>
                  <xs:enumeration value="ROLLTYPE"/>
                  <xs:enumeration value="REFTRADE"/>
                  <xs:enumeration value="REFPRIN"/>
                  <xs:enumeration value="REFINT"/>
                  <xs:enumeration value="AVAILQTY"/>
                  <xs:enumeration value="BROKERCREDIT"/>
                  <xs:enumeration value="INTERNALPX"/>
                  <xs:enumeration value="INTERNALQTY"/>
                  <xs:enumeration value="LEAVEQTY"/>
                  <xs:enumeration value="MAXORDQTY"/>
                  <xs:enumeration value="ORDRINCR"/>
                  <xs:enumeration value="PRIMARY"/>
                  <xs:enumeration value="SALESCREDITOVR"/>
                  <xs:enumeration value="TRADERCREDIT"/>
                  <xs:enumeration value="DISCOUNT"/>
                  <xs:enumeration value="YTM"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="StipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPool" minOccurs="0" type="xs:string"/>
            <xs:element name="LegDatedDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractSettlMonth" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInterestAccrualDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="LegTimeUnit" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptionRatio" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegMaturityTime" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPutOrCall" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegExerciseStyle" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegUnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegPriceUnitOfMeasure" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPriceUnitOfMeasureQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegContractMultiplierUnit" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegFlowScheduleType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSwapType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="LegSettlType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSettlDate" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegStipulations" minOccurs="0" type="NoLegStipulations"/>
            <xs:element name="NoNestedPartyIDs" minOccurs="0" type="NoNestedPartyIDs"/>
            <xs:element name="LegPriceType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegBidPx" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegOfferPx" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegBenchmarkCurveCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkCurveName" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkCurvePoint" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBenchmarkPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegBenchmarkPriceType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegOrderQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegRefID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegBidForwardPoints" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegOfferForwardPoints" minOccurs="0" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegStipulations">
    <xs:sequence>
      <xs:element name="LegStipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegStipulationType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartyIDs">
    <xs:sequence>
      <xs:element name="NestedPartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoNestedPartySubIDs" minOccurs="0" type="NoNestedPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartySubIDs">
    <xs:sequence>
      <xs:element name="NestedPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoRateSources">
    <xs:sequence>
      <xs:element name="RateSource" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RateSource" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="99"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="RateSourceType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="0"/>
                  <xs:enumeration value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ReferencePage" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
