spec/schema/FIX44/TradeCaptureReportAck.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TradeCaptureReportAck">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="TradeReportID" type="xs:string"/>
        <xs:element name="TradeReportTransType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeReportType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TrdType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TrdSubType" minOccurs="0" type="xs:integer"/>
        <xs:element name="SecondaryTrdType" minOccurs="0" type="xs:integer"/>
        <xs:element name="TransferReason" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeReportRefID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecondaryTradeReportRefID" minOccurs="0" type="xs:string"/>
        <xs:element name="TrdRptStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeReportRejectReason" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecondaryTradeReportID" minOccurs="0" type="xs:string"/>
        <xs:element name="SubscriptionRequestType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TradeLinkID" minOccurs="0" type="xs:string"/>
        <xs:element name="TrdMatchID" minOccurs="0" type="xs:string"/>
        <xs:element name="ExecID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecondaryExecID" minOccurs="0" type="xs:string"/>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="WI"/>
              <xs:enumeration value="CD"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="D"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="J"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoSecurityAltID" minOccurs="0" type="NoSecurityAltID"/>
        <xs:element name="Product" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="10"/>
              <xs:enumeration value="11"/>
              <xs:enumeration value="12"/>
              <xs:enumeration value="13"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CFICode" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EUSUPRA"/>
              <xs:enumeration value="FAC"/>
              <xs:enumeration value="FADN"/>
              <xs:enumeration value="PEF"/>
              <xs:enumeration value="SUPRA"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CB"/>
              <xs:enumeration value="DUAL"/>
              <xs:enumeration value="EUCORP"/>
              <xs:enumeration value="XLINKD"/>
              <xs:enumeration value="STRUCT"/>
              <xs:enumeration value="YANK"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="BRADY"/>
              <xs:enumeration value="EUSOV"/>
              <xs:enumeration value="TBOND"/>
              <xs:enumeration value="TINT"/>
              <xs:enumeration value="TIPS"/>
              <xs:enumeration value="TCAL"/>
              <xs:enumeration value="TPRN"/>
              <xs:enumeration value="TNOTE"/>
              <xs:enumeration value="TBILL"/>
              <xs:enumeration value="REPO"/>
              <xs:enumeration value="FORWARD"/>
              <xs:enumeration value="BUYSELL"/>
              <xs:enumeration value="SECLOAN"/>
              <xs:enumeration value="SECPLEDGE"/>
              <xs:enumeration value="TERM"/>
              <xs:enumeration value="RVLV"/>
              <xs:enumeration value="RVLVTRM"/>
              <xs:enumeration value="BRIDGE"/>
              <xs:enumeration value="LOFC"/>
              <xs:enumeration value="SWING"/>
              <xs:enumeration value="DINP"/>
              <xs:enumeration value="DEFLTED"/>
              <xs:enumeration value="WITHDRN"/>
              <xs:enumeration value="REPLACD"/>
              <xs:enumeration value="MATURED"/>
              <xs:enumeration value="AMENDED"/>
              <xs:enumeration value="RETIRED"/>
              <xs:enumeration value="BA"/>
              <xs:enumeration value="BN"/>
              <xs:enumeration value="BOX"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CL"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="DN"/>
              <xs:enumeration value="EUCD"/>
              <xs:enumeration value="EUCP"/>
              <xs:enumeration value="LQN"/>
              <xs:enumeration value="MTN"/>
              <xs:enumeration value="ONITE"/>
              <xs:enumeration value="PN"/>
              <xs:enumeration value="PZFJ"/>
              <xs:enumeration value="STN"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="XCN"/>
              <xs:enumeration value="YCD"/>
              <xs:enumeration value="ABS"/>
              <xs:enumeration value="CMBS"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="IET"/>
              <xs:enumeration value="MBS"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="PFAND"/>
              <xs:enumeration value="TBA"/>
              <xs:enumeration value="AN"/>
              <xs:enumeration value="COFO"/>
              <xs:enumeration value="COFP"/>
              <xs:enumeration value="GO"/>
              <xs:enumeration value="MT"/>
              <xs:enumeration value="RAN"/>
              <xs:enumeration value="REV"/>
              <xs:enumeration value="SPCLA"/>
              <xs:enumeration value="SPCLO"/>
              <xs:enumeration value="SPCLT"/>
              <xs:enumeration value="TAN"/>
              <xs:enumeration value="TAXA"/>
              <xs:enumeration value="TECP"/>
              <xs:enumeration value="TRAN"/>
              <xs:enumeration value="VRDN"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MLEG"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="?"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecuritySubType" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDate" minOccurs="0" type="xs:string"/>
        <xs:element name="PutOrCall" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CouponPaymentDate" minOccurs="0" type="xs:string"/>
        <xs:element name="IssueDate" minOccurs="0" type="xs:string"/>
        <xs:element name="RepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseTerm" minOccurs="0" type="xs:integer"/>
        <xs:element name="RepurchaseRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="Factor" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CreditRating" minOccurs="0" type="xs:string"/>
        <xs:element name="InstrRegistry" minOccurs="0" type="xs:string"/>
        <xs:element name="CountryOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="StateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="LocaleOfIssue" minOccurs="0" type="xs:string"/>
        <xs:element name="RedemptionDate" minOccurs="0" type="xs:string"/>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:decimal"/>
        <xs:element name="StrikeCurrency" minOccurs="0" type="xs:string"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractMultiplier" minOccurs="0" type="xs:decimal"/>
        <xs:element name="CouponRate" minOccurs="0" type="xs:decimal"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedIssuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedSecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Pool" minOccurs="0" type="xs:string"/>
        <xs:element name="ContractSettlMonth" minOccurs="0" type="xs:string"/>
        <xs:element name="CPProgram" minOccurs="0" type="xs:integer"/>
        <xs:element name="CPRegType" minOccurs="0" type="xs:string"/>
        <xs:element name="NoEvents" minOccurs="0" type="NoEvents"/>
        <xs:element name="DatedDate" minOccurs="0" type="xs:string"/>
        <xs:element name="InterestAccrualDate" minOccurs="0" type="xs:string"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="NoTrdRegTimestamps" minOccurs="0" type="NoTrdRegTimestamps"/>
        <xs:element name="ResponseTransportType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ResponseDestination" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="EncodedTextLen" minOccurs="0" type="xs:nonNegativeInteger"/>
        <xs:element name="EncodedText" minOccurs="0" type="xs:string"/>
        <xs:element name="NoLegs" minOccurs="0" type="NoLegs"/>
        <xs:element name="ClearingFeeIndicator" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="B"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="E"/>
              <xs:enumeration value="F"/>
              <xs:enumeration value="H"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="L"/>
              <xs:enumeration value="M"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A"/>
              <xs:enumeration value="G"/>
              <xs:enumeration value="I"/>
              <xs:enumeration value="P"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="W"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrderRestrictions" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
              <xs:enumeration value="A"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CustOrderCapacity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Account" minOccurs="0" type="xs:string"/>
        <xs:element name="AcctIDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AccountType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PositionEffect" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="O"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="F"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PreallocMethod" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoAllocs" minOccurs="0" type="NoAllocs"/>
      </xs:all>
      <xs:attribute name="beginString" type="xs:string"/>
      <xs:attribute name="msgType" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoSecurityAltID">
    <xs:sequence>
      <xs:element name="SecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="SecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoEvents">
    <xs:sequence>
      <xs:element name="Event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EventType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="99"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="EventDate" minOccurs="0" type="xs:string"/>
            <xs:element name="EventPx" minOccurs="0" type="xs:decimal"/>
            <xs:element name="EventText" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoTrdRegTimestamps">
    <xs:sequence>
      <xs:element name="TrdRegTimestamp" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TrdRegTimestamp" minOccurs="0" type="xs:string"/>
            <xs:element name="TrdRegTimestampType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="3"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="TrdRegTimestampOrigin" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegs">
    <xs:sequence>
      <xs:element name="Leg" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSymbol" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSymbolSfx" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NoLegSecurityAltID" minOccurs="0" type="NoLegSecurityAltID"/>
            <xs:element name="LegProduct" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegCFICode" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecuritySubType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityMonthYear" minOccurs="0" type="xs:string"/>
            <xs:element name="LegMaturityDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCouponPaymentDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssueDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRepoCollateralSecurityType" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseTerm" minOccurs="0" type="xs:integer"/>
            <xs:element name="LegRepurchaseRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegFactor" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCreditRating" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInstrRegistry" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCountryOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStateOrProvinceOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLocaleOfIssue" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRedemptionDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStrikePrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegStrikeCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegOptAttribute" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractMultiplier" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegCouponRate" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSecurityExchange" minOccurs="0" type="xs:string"/>
            <xs:element name="LegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegIssuerLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegIssuer" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="EncodedLegSecurityDescLen" minOccurs="0" type="xs:nonNegativeInteger"/>
            <xs:element name="EncodedLegSecurityDesc" minOccurs="0" type="xs:string"/>
            <xs:element name="LegRatioQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSide" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPool" minOccurs="0" type="xs:string"/>
            <xs:element name="LegDatedDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegContractSettlMonth" minOccurs="0" type="xs:string"/>
            <xs:element name="LegInterestAccrualDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegQty" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSwapType" minOccurs="0">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:enumeration value="1"/>
                  <xs:enumeration value="2"/>
                  <xs:enumeration value="4"/>
                  <xs:enumeration value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="NoLegStipulations" minOccurs="0" type="NoLegStipulations"/>
            <xs:element name="LegPositionEffect" minOccurs="0" type="xs:string"/>
            <xs:element name="LegCoveredOrUncovered" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoNestedPartyIDs" minOccurs="0" type="NoNestedPartyIDs"/>
            <xs:element name="LegRefID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegPrice" minOccurs="0" type="xs:decimal"/>
            <xs:element name="LegSettlType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSettlDate" minOccurs="0" type="xs:string"/>
            <xs:element name="LegLastPx" minOccurs="0" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegSecurityAltID">
    <xs:sequence>
      <xs:element name="LegSecurityAltID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegSecurityAltID" minOccurs="0" type="xs:string"/>
            <xs:element name="LegSecurityAltIDSource" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoLegStipulations">
    <xs:sequence>
      <xs:element name="LegStipulation" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LegStipulationType" minOccurs="0" type="xs:string"/>
            <xs:element name="LegStipulationValue" minOccurs="0" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartyIDs">
    <xs:sequence>
      <xs:element name="NestedPartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoNestedPartySubIDs" minOccurs="0" type="NoNestedPartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNestedPartySubIDs">
    <xs:sequence>
      <xs:element name="NestedPartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NestedPartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="NestedPartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoAllocs">
    <xs:sequence>
      <xs:element name="Alloc" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AllocAccount" minOccurs="0" type="xs:string"/>
            <xs:element name="AllocAcctIDSource" minOccurs="0" type="xs:integer"/>
            <xs:element name="AllocSettlCurrency" minOccurs="0" type="xs:string"/>
            <xs:element name="IndividualAllocID" minOccurs="0" type="xs:string"/>
            <xs:element name="NoNested2PartyIDs" minOccurs="0" type="NoNested2PartyIDs"/>
            <xs:element name="AllocQty" minOccurs="0" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNested2PartyIDs">
    <xs:sequence>
      <xs:element name="Nested2PartyID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Nested2PartyID" minOccurs="0" type="xs:string"/>
            <xs:element name="Nested2PartyIDSource" minOccurs="0" type="xs:string"/>
            <xs:element name="Nested2PartyRole" minOccurs="0" type="xs:integer"/>
            <xs:element name="NoNested2PartySubIDs" minOccurs="0" type="NoNested2PartySubIDs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoNested2PartySubIDs">
    <xs:sequence>
      <xs:element name="Nested2PartySubID" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Nested2PartySubID" minOccurs="0" type="xs:string"/>
            <xs:element name="Nested2PartySubIDType" minOccurs="0" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
