spec/schema/FIX40/ListExecute.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListExecute">
    <xs:complexType>
      <!-- body -->
      <xs:sequence>
        <xs:element name="ListID" type="xs:string"/>
        <xs:element name="WaveNo" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
