spec/schema/FIX40/Reject.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reject">
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="RefSeqNum" type="xs:integer"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
