spec/schema/FIX41/Allocation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Allocation">
    <xs:attribute name="beginString" type="xs:string"/>
    <xs:attribute name="msgType" type="xs:string"/>
    <xs:complexType>
      <!-- body -->
      <xs:all>
        <xs:element name="AllocID" type="xs:string"/>
        <xs:element name="AllocTransType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RefAllocID" minOccurs="0" type="xs:string"/>
        <xs:element name="AllocLinkID" minOccurs="0" type="xs:string"/>
        <xs:element name="AllocLinkType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NoOrders" type="NoOrders"/>
        <xs:element name="NoExecs" minOccurs="0" type="NoExecs"/>
        <xs:element name="Side">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Symbol" type="xs:string"/>
        <xs:element name="SymbolSfx" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityID" minOccurs="0" type="xs:string"/>
        <xs:element name="IDSource" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SecurityType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BA"/>
              <xs:enumeration value="CD"/>
              <xs:enumeration value="CMO"/>
              <xs:enumeration value="CORP"/>
              <xs:enumeration value="CP"/>
              <xs:enumeration value="CPP"/>
              <xs:enumeration value="CS"/>
              <xs:enumeration value="FHA"/>
              <xs:enumeration value="FHL"/>
              <xs:enumeration value="FN"/>
              <xs:enumeration value="FOR"/>
              <xs:enumeration value="FUT"/>
              <xs:enumeration value="GN"/>
              <xs:enumeration value="GOVT"/>
              <xs:enumeration value="MF"/>
              <xs:enumeration value="MIO"/>
              <xs:enumeration value="MPO"/>
              <xs:enumeration value="MPP"/>
              <xs:enumeration value="MPT"/>
              <xs:enumeration value="MUNI"/>
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="OPT"/>
              <xs:enumeration value="PS"/>
              <xs:enumeration value="RP"/>
              <xs:enumeration value="RVRP"/>
              <xs:enumeration value="SL"/>
              <xs:enumeration value="TD"/>
              <xs:enumeration value="USTB"/>
              <xs:enumeration value="WAR"/>
              <xs:enumeration value="ZOO"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MaturityMonthYear" minOccurs="0" type="xs:string"/>
        <xs:element name="MaturityDay" minOccurs="0" type="xs:string"/>
        <xs:element name="PutOrCall" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="StrikePrice" minOccurs="0" type="xs:float"/>
        <xs:element name="OptAttribute" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityExchange" minOccurs="0" type="xs:string"/>
        <xs:element name="Issuer" minOccurs="0" type="xs:string"/>
        <xs:element name="SecurityDesc" minOccurs="0" type="xs:string"/>
        <xs:element name="Shares" type="xs:integer"/>
        <xs:element name="LastMkt" minOccurs="0" type="xs:string"/>
        <xs:element name="AvgPx" type="xs:float"/>
        <xs:element name="Currency" minOccurs="0" type="xs:string"/>
        <xs:element name="AvgPrxPrecision" minOccurs="0" type="xs:integer"/>
        <xs:element name="TradeDate" type="xs:string"/>
        <xs:element name="TransactTime" minOccurs="0" type="xs:string"/>
        <xs:element name="SettlmntTyp" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="0"/>
              <xs:enumeration value="1"/>
              <xs:enumeration value="2"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4"/>
              <xs:enumeration value="5"/>
              <xs:enumeration value="6"/>
              <xs:enumeration value="7"/>
              <xs:enumeration value="8"/>
              <xs:enumeration value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FutSettDate" minOccurs="0" type="xs:string"/>
        <xs:element name="NetMoney" minOccurs="0" type="xs:float"/>
        <xs:element name="OpenClose" minOccurs="0" type="xs:string"/>
        <xs:element name="Text" minOccurs="0" type="xs:string"/>
        <xs:element name="NumDaysInterest" minOccurs="0" type="xs:integer"/>
        <xs:element name="AccruedInterestRate" minOccurs="0" type="xs:float"/>
        <xs:element name="NoAllocs" type="NoAllocs"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NoOrders">
    <xs:element name="Order" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="ClOrdID" type="xs:string"/>
          <xs:element name="OrderID" minOccurs="0" type="xs:string"/>
          <xs:element name="SecondaryOrderID" minOccurs="0" type="xs:string"/>
          <xs:element name="ListID" minOccurs="0" type="xs:string"/>
          <xs:element name="WaveNo" minOccurs="0" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoExecs">
    <xs:element name="Exec" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="LastShares" minOccurs="0" type="xs:integer"/>
          <xs:element name="ExecID" minOccurs="0" type="xs:string"/>
          <xs:element name="LastPx" minOccurs="0" type="xs:float"/>
          <xs:element name="LastCapacity" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoAllocs">
    <xs:element name="Alloc" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="AllocAccount" type="xs:string"/>
          <xs:element name="AllocShares" type="xs:integer"/>
          <xs:element name="ProcessCode" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="0"/>
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="BrokerOfCredit" minOccurs="0" type="xs:string"/>
          <xs:element name="NotifyBrokerOfCredit" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Y"/>
                <xs:enumeration value="N"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="AllocHandlInst" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:integer">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="AllocText" minOccurs="0" type="xs:string"/>
          <xs:element name="ExecBroker" minOccurs="0" type="xs:string"/>
          <xs:element name="ClientID" minOccurs="0" type="xs:string"/>
          <xs:element name="Commission" minOccurs="0" type="xs:float"/>
          <xs:element name="CommType" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="AllocAvgPx" minOccurs="0" type="xs:float"/>
          <xs:element name="AllocNetMoney" minOccurs="0" type="xs:float"/>
          <xs:element name="SettlCurrAmt" minOccurs="0" type="xs:float"/>
          <xs:element name="SettlCurrency" minOccurs="0" type="xs:string"/>
          <xs:element name="SettlCurrFxRate" minOccurs="0" type="xs:float"/>
          <xs:element name="SettlCurrFxRateCalc" minOccurs="0" type="xs:string"/>
          <xs:element name="AccruedInterestAmt" minOccurs="0" type="xs:float"/>
          <xs:element name="SettlInstMode" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="0"/>
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="NoMiscFees" minOccurs="0" type="NoMiscFees"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="NoMiscFees">
    <xs:element name="MiscFee" minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="MiscFeeAmt" minOccurs="0" type="xs:float"/>
          <xs:element name="MiscFeeCurr" minOccurs="0" type="xs:string"/>
          <xs:element name="MiscFeeType" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
                <xs:enumeration value="3"/>
                <xs:enumeration value="4"/>
                <xs:enumeration value="5"/>
                <xs:enumeration value="6"/>
                <xs:enumeration value="7"/>
                <xs:enumeration value="8"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    <xs:attribute name="count" type="xs:nonNegativeInteger"/>
  </xs:complexType>
</xs:schema>
